<!--日程管理-->
<ion-view>
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button hide buttons button-clear header-item" style="">
      <i class="icon ion-android-arrow-back"></i>
      <span class="back-text" style=""></span>
    </button>
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <div class="h1 title">首页</div>
    <button class="button button-icon" style="padding-top: 4px;" ng-click="openModal()">
      <img src="img/send_white_48.png" width="25">
    </button>
  </div>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    日程管理

    <div class="list">
      <label class="item">
       <p>{{state}}</p>
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="button" ng-click="start()">开始</button>
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="button" ng-click="end()">结束</button>
      </label>
    </div>
<div class="flex-row img-test">
  <div class="col-33 flex-center">
    <img src="img/avatar_f.png" width="50">
  </div>
  <div class="col-33 flex-center" ui-sref="main.vitalityeducation">
    <span class="uicon testimg-4"></span>
  </div>
</div>
  </ion-content>
</ion-view>
