<ion-side-menus>
  <ion-side-menu-content drag-content="false">

    <ion-nav-view>
      <toast></toast>
    </ion-nav-view>

  </ion-side-menu-content>
  <ion-side-menu side="left">
    <!--左侧菜单-->
    <!--<header class="bar bar-header bar-stable">-->
      <!--<h1 class="title">Left</h1>-->
    <!--</header>-->
    <ion-content class="sidemenu-content">
      <div class="sidemenu-banner">
        <img src="img/menu_banner.png">
      </div>
      <ul>
        <li class="list-item no-line" menu-close ng-repeat="item in menus" ui-sref="{{item.state}}" ng-class="{'stick-highlight':currentstate.current.name==item.state}">
          <div class="item-content item-link">
            <div class="item-media">
              <i class="uicon uicon-{{item.iconName}}"></i>
            </div>
            <div class="item-inner">
              <div class="item-title">{{item.name}}</div>
            </div>
          </div>
        </li>
      </ul>
      <div class="bottom-item">
        <div class="list-item no-line" menu-close ui-sref="main.settings">
          <div class="item-content item-link">
            <div class="item-media">
              <i class="uicon uicon-setting"></i>
            </div>
            <div class="item-inner">
              <div class="item-title">系统设置</div>
            </div>
          </div>
        </div>
      </div>

    </ion-content>
    <ion-side-menu>
</ion-side-menus>




