
<ion-view>
  <ion-content class="bg-white">
    <div class="flex-end paddinglr-20 margintb-20">
      <a class="button button-clear button-assertive">忘记密码</a>
    </div>
    <div class="flex-center paddinglr-20 paddingtb-20">
      <img src="img/logo_blue_460.png" width="108">
    </div>
    <div class="flex-center paddinglr-20 margintb-20">
      <a ng-repeat="item in roules" ng-click="selectroute(item)" class="button button-small button-light" style="padding: 3px 15px 3px; margin:0 10px;">{{item.Name}}</a>
    </div>
    <form class="paddinglr-20 paddingtb-20">

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon uicon-login-account placeholder-icon"></i>
          <input type="text" placeholder="账号" ng-model="loginData.UserId" maxlength="20" style="padding-left: 8px;">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon uicon-login-password placeholder-icon"></i>
          <input type="password" placeholder="密码" ng-model="loginData.Password" maxlength="20" style="padding-left: 8px;">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item-login">
          <button class="button button-block button-positive" type="button" ng-click="signin()">登录</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
