<!--首页-->
<ion-view title="首页" view-title="首页">
  <ion-content>
    <!--首页-->
    <!--<button ng-click="carinfo()">获取名下车辆</button>-->
    <!--<button ng-click="loginout()">销毁登陆</button>-->
    <!--<ul>-->
    <!--<li ng-repeat="item in cars">-->
    <!--{{item.Name}}-->
    <!--</li>-->
    <!--</ul>-->
    <div class="content-block">
      <ul>
        <li class="list-item no-line">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title"><i class="icon ion-ios-locked-outline"></i>消息<i
                class="icon ion-ios-locked-outline"></i>消息
              </div>
              <div class="item-after"><i class="icon ion-ios-locked-outline"></i>更多</div>
            </div>
          </div>
        </li>
      </ul>

      <ul class="dense-list">
        <li class="list-item no-line">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title ellipsis">消息消息消息消息消息消息消息消息消息</div>
              <div class="item-after">2017-12-12&nbsp;09:20:20</div>
            </div>
          </div>
        </li>
        <li class="list-item no-line">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title ellipsis">消息消息消息消息消息消息消息消息消息</div>
              <div class="item-after">2017-12-12&nbsp;09:20:20</div>
            </div>
          </div>
        </li>
        <li class="list-item no-line">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title ellipsis">消息消息消息消息消息消息消息消息消息</div>
              <div class="item-after">2017-12-12&nbsp;09:20:20</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="content-block">
      <div class="row graphic-row">
        <div class="col graphic-block1">
          <div class="graphic-block">
            <div class="list-item no-line">
              <div class="item-content">
                <div class="item-media">
                  <i class="uicon uicon-building"></i><i class="icon ion-ios-locked-outline"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title">辖区机构渗透率</div>
                </div>
              </div>
            </div>
            <div class="img-block">
              <img src="../../img/developing.png" alt="">
            </div>
            <div class="img-block">开发中</div>
          </div>
        </div>
        <div class="col graphic-block2">
          <div class="graphic-block">
            <div class="list-item no-line">
              <div class="item-content">
                <div class="item-media">
                  <i class="uicon uicon-building"></i>
                  <i class="icon ion-ios-locked-outline"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title">ABC等级拜访频次</div>
                </div>
              </div>
            </div>
            <div class="img-block">
              <img src="../../img/developing.png" alt="">
            </div>
            <div class="img-block">开发中</div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="row graphic-row">
        <div class="col graphic-block1">
          <div class="graphic-block">
            <div class="list-item no-line">
              <div class="item-content">
                <div class="item-media">
                  <i class="uicon uicon-building"></i><i class="icon ion-ios-locked-outline"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title">连锁总部覆盖率</div>
                </div>
              </div>
            </div>
            <div class="img-block">
              <img src="../../img/developing.png" alt="">
            </div>
            <div class="img-block">开发中</div>
          </div>
        </div>
        <div class="col graphic-block2">
          <div class="graphic-block">
            <div class="list-item no-line">
              <div class="item-content">
                <div class="item-media">
                  <i class="uicon uicon-building"></i>
                  <i class="icon ion-ios-locked-outline"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title">日均拜访次数</div>
                </div>
              </div>
            </div>
            <div class="img-block">
              <img src="../../img/developing.png" alt="">
            </div>
            <div class="img-block">开发中</div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="list-item no-line" style="margin-bottom: 2px;">
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title">AE团队汇总</div>
          </div>
        </div>
      </div>
      <div class="row graphic-row">
        <div class="col graphic-block1">
          <div class="graphic-block">
            <div class="list-item no-line">
              <div class="item-content">
                <div class="item-media">
                  <i class="uicon uicon-building"></i><i class="icon ion-ios-locked-outline"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title">辖区机构渗透率</div>
                </div>
              </div>
            </div>
            <div class="img-block">
              <img src="../../img/developing.png" alt="">
            </div>
            <div class="img-block">开发中</div>
          </div>
        </div>
        <div class="col graphic-block2">
          <div class="graphic-block">
            <div class="list-item no-line">
              <div class="item-content">
                <div class="item-media">
                  <i class="uicon uicon-building"></i>
                  <i class="icon ion-ios-locked-outline"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title">ABC等级拜访频次</div>
                </div>
              </div>
            </div>
            <div class="img-block">
              <img src="../../img/developing.png" alt="">
            </div>
            <div class="img-block">开发中</div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="list-item no-line" style="margin-bottom: 2px;">
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title">CCR团队汇总</div>
          </div>
        </div>
      </div>
      <div class="row graphic-row">
        <div class="col graphic-block1">
          <div class="graphic-block">
            <div class="list-item no-line">
              <div class="item-content">
                <div class="item-media">
                  <i class="uicon uicon-building"></i><i class="icon ion-ios-locked-outline"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title">辖区机构渗透率</div>
                </div>
              </div>
            </div>
            <div class="img-block">
              <img src="../../img/developing.png" alt="">
            </div>
            <div class="img-block">开发中</div>
          </div>
        </div>
        <div class="col graphic-block2">
          <div class="graphic-block">
            <div class="list-item no-line">
              <div class="item-content">
                <div class="item-media">
                  <i class="uicon uicon-building"></i>
                  <i class="icon ion-ios-locked-outline"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title">ABC等级拜访频次</div>
                </div>
              </div>
            </div>
            <div class="img-block">
              <img src="../../img/developing.png" alt="">
            </div>
            <div class="img-block">开发中</div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div>
        <button class="button">
          Default
        </button>
        <button class="button">
          Default
        </button>
      </div>
      <div>
        <div class="list-item no-line" style="margin-bottom: 2px;">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title">路线名称11</div>
              <div class="item-text">
                <div>process</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
