<ion-view title="修改密码" view-title="修改密码">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">修改密码</div>
  </div>

  <ion-content class="has-header change-password">
    <!--读取用户的手机号-->
    <div class="content-block-title">验证码发送至132****1883</div>
    <ul>
      <li class="pass-input flex-center">
        <div class="width-90 flex-between">
          <input type="text" placeholder="验证码" ng-model="identifyingCode">
          <!--点击发送验证码-->
          <button class="button button-positive button-small" ng-click="setTime()" ng-class="{'disabled':second<entireSecond}">{{buttonMessage}}</button>
        </div>
      </li>
      <li class="pass-input flex-center">
        <div class="width-90 flex-between">
          <input type="password" placeholder="请输入新密码" ng-model="password">
        </div>
      </li>
      <li class="pass-input flex-center">
        <div class="width-90 flex-between">
          <input type="password" placeholder="请再次输入新密码" ng-model="reenter">
        </div>
      </li>
<!--错误信息提示-->
      <li class="width-90 flex-end font-12 color-red">
        {{warningMsg}}
      </li>
    </ul>
    <div class="flex-center">
     <!--三个input有空值时不能点提交-->
      <button class="button button-positive" ng-class="{'disabled':identifyingCode.length==0||password.length==0||reenter.length==0}">提交</button>
    </div>
  </ion-content>
</ion-view>
