<ion-view title="系统设置" view-title="系统设置">
  <div class="bar bar-header bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <div class="h1 title">系统设置</div>
  </div>
  <ion-content class="has-header settings">
    <div class="points-top">
      <div class="list-item multi-line no-line">
        <div class="item-content">
          <div class="item-media"><img src="img/avatar_duel_126.png" width="60"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">张文杰<span class="space-10"></span><span class="font-12">18929283847</span></div>
            </div>
            <div class="flex-start margin-img align-center">
              <img src="img/card_white_38.png" width="18">
              <span>岗位</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <ul class="setting-list">
      <li class="list-item">
        <div class="item-content item-link">
          <div class="item-media"><img src="img/phone_green_58.png" width="28"></div>
          <div class="item-inner">
            <div class="flex-start margin-img">
              <div class="item-title weight-5">修改登录密码</div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="item-content item-link">
          <div class="item-media"><img src="img/pattern_yellow_58.png" width="28"></div>
          <div class="item-inner">
            <div class="flex-start margin-img">
              <div class="item-title weight-5">修改手势密码</div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-item" ui-sref="main.about">
        <div class="item-content item-link">
          <div class="item-media"><img src="img/info_blue_58.png" width="28"></div>
          <div class="item-inner">
            <div class="flex-start margin-img">
              <div class="item-title weight-5">关于</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="flex-center">
      <button class="button button-assertive">注销账号</button>
    </div>
  </ion-content>
</ion-view>
