<ion-view title="消息通知" view-title="消息通知">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button hide buttons button-clear header-item" style="">
      <i class="icon ion-android-arrow-back"></i>
      <span class="back-text" style=""></span>
    </button>
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <div class="h1 title">客户管理</div>

  </div>
  <ion-content class="has-header has-subheader">
    <div class="bg-white">

    </div>
  </ion-content>
</ion-view>
