<ion-view title="机构详情" view-title="机构详情">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">机构详情</div>
  </div>
  <div class="bar bar-subheader ins-subheader">
    <div class="bg-white">
      <div class="list-item multi-line no-line">
        <div class="item-content align-top">
          <div class="item-media"><span class="uicon {{inslevelflag}}"></span></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title ellipsis">
                {{currentIns.InstitutionName +
                (currentIns.InstitutionPriority!=''?('('+currentIns.InstitutionPriority+')'):'') }}
              </div>
            </div>
            <div class="flex-row align-end font-12">
              <div class="col-70 color-gray ellipsis">{{currentIns.Address}}</div>
              <div class="col-30 flex-end">
                <a class="button button-outline button-energized button-small"
                   ui-sref="main.skusort({insId:currentIns.InstitutionID})">SKU排序</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--tab head-->
    <div class="flex-around tab-row">
      <div class="flex-center" ng-repeat="tab in tabs" ng-show="(tab.Code=='clientInfo'?showstore:true)">
        <button class="button button-light button-clear tab-button" ng-class="{'active':currentTab==tab}"
                ng-click="switchTab(tab)">
          {{tab.Name}}
        </button>
      </div>
    </div>
  </div>
  <ion-content class="has-header insDetail-class bg-white" >

    <div class="bg-white insdetail-tabs" >
      <div class="crl-tabs">
        <div class="crl-tab" ng-show="currentTab.Code=='baseInfo'">
          <div class="map-block">
            <div id="ins-map">
              <amap></amap>
            </div>
            <a class="button button-balanced button-small" ng-click="saveLngLat()">修改坐标</a>
          </div>

          <ul>
            <li class="list-item inverse">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">{{currentIns.InstitutionID}}</div>
                  <div class="item-after"></div>
                </div>
              </div>
            </li>
            <li class="list-item inverse">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">联系电话</div>
                  <div class="item-after">{{currentIns.Phone}}</div>
                </div>
              </div>
            </li>
            <li class="list-item inverse">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">药店类型</div>
                  <div class="item-after">{{currentIns.InstitutionTypeName }}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="crl-tab" ng-show="currentTab.Code=='personInfo'">
          <div class="list-item inverse no-line">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">该机构人员（{{memberList.length}}）</div>
                <div class="item-after">
                  <a class="button button-outline button-positive button-small" ng-click="addClient()">添加客户</a>
                </div>
              </div>
            </div>
          </div>
          <ul>
            <li class="list-item multi-line" ng-repeat="item in memberList" ng-click="viewClient(item)">
              <div class="item-content item-link">
                <div class="item-media">
                  <span class="uicon-50 {{getAvatarClass(item)}}"></span>
                </div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">
                      <span>{{item.ClientName}}</span><span class="space-stick">|</span><span>{{item.Gender=='F'?'女':'男'}}</span>
                    </div>
                  </div>
                  <div class="flex-row color-gray text-row">
                    <div class="col-50 align-center margin-img">
                      <img src="img/job_gray_48.png" width="20">{{item.Title}}
                    </div>
                    <div class="col-50 align-center margin-img">
                      <img src="img/cellphone_gray_48.png" width="20">{{item.Phone}}
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="crl-tab height-100" ng-show="currentTab.Code=='clientInfo'">
          <div class="list-item inverse no-line">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">下游门店（{{stores.TotalCount}}）</div>
              </div>
            </div>
          </div>
          <ul style="height: 200px">
            <li class="list-item multi-line" ng-repeat="item in stores.Institutions" ng-click="showStoreInfoModal(item)">
              <div class="item-content align-top item-link">
                <div class="item-media"><img
                  src="img/marker{{item.InstitutionPriority==''?'A':item.InstitutionPriority}}_52.png" width="20"></div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title"><span>{{item.InstitutionPriority==''?item.InstitutionName:item.InstitutionName+'('+item.InstitutionPriority+')'}}</span>
                    </div>
                  </div>
                  <div class="item-text">{{item.Address}}</div>
                </div>
              </div>
            </li>
            <ion-infinite-scroll
              on-infinite="loadMoreStore()"
              distance="1%"
              ng-if="moreDataCanBeLoaded()"
              immediate-check=false>
            </ion-infinite-scroll>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
