<ion-view title="机构详情" view-title="机构详情">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">机构详情</div>
  </div>

  <ion-content class="has-header">
    <div class="bg-white">
      <ul>
        <li class="list-item">
          <div class="item-content">
            <div class="item-media"><span class="list-count">1</span></div>
            <div class="item-inner">
              <div class="item-title">xxxxxxxxxx大药房xxxxxxxxxxxx连锁店(A)</div>
              <div class="item-after" on-reorder="moveItem(item, $fromIndex, $toIndex)">(A)</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
