<ion-view title="签到" view-title="签到">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">签到</div>

  </div>
  <ion-content scroll="false" class="has-header tutorial-checkin">
    <a class="button button-balanced button-small top-button" ui-sref="main.callprocedurestep2">签到</a>
    <div ng-class="{true: 'expand', false: 'collapse'}[isExpand]">
      <!--地图div-->
      <amap></amap>
      <!--自定义信息窗体-->
      <div id="infowindow" ng-show="false">
        <div class="info">
          <div class="info-top">
            <div class="inf-top-left pic" ng-show="!(isnewly || routeedit)">
            </div>
            <div class="inf-top-left txt" ng-show="isnewly || routeedit" ng-click="addinline()">
            </div>
            <div class="inf-top-right">
              <span ng-click="closeInfoWindow()" class="uicon close-info"></span>
              <span ng-bind="currentins.InstitutionName"></span>
            </div>
          </div>
          <div class="info-bottom">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
