<!--路线设定-->
<ion-view>
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button hide buttons button-clear header-item" style="">
      <i class="icon ion-android-arrow-back"></i>
      <span class="back-text" style=""></span>
    </button>
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <div class="h1 title">路线设定</div>
    <div class="buttons">
      <button class="button button-icon" ng-click="shownolatlngmodal()">
        <img src="img/nolatlng-store-icon.png" width="25" style="padding-top: 4px;">
      </button>
      <button class="button button-icon" ng-click="showsearchmodal()">
        <img src="img/search-icon.png" width="25" style="padding-top: 6px;">
      </button>
    </div>
  </div>
  <ion-content scroll="false" class="has-header">
    <div style="width: 100%;" ng-show="routes.length>0">
      <div class="box">
        <ul class="tj-ul">
          <li class="route-line"
              ng-click="showroutedetail(item)" ng-class="{true:'selected-line'}[item.LineID==currentRoute.LineID]"
              ng-repeat="item in routes">
            {{item.LineName}}
          </li>
        </ul>
      </div>
    </div>

    <div class="bg-white route-addbtn" id="addnewline" ng-click="addnewroute()">
      <img src="img/addroute-icon.png" /><span>新增</span>
    </div>
    <!--地图div-->
    <amap></amap>
    <!--自定义信息窗体-->
    <div id="infowindow" ng-show="false">
      <div class="info">
        <div class="info-top">
          <div class="inf-top-left pic" ng-show="!(isnewly || routeedit)">
          </div>
          <div class="inf-top-left txt" ng-show="isnewly || routeedit" ng-click="addinline()">
          </div>
          <div class="inf-top-right">
            <span ng-bind="currentins.InstitutionName"></span>
          </div>
        </div>
        <div class="info-bottom">
          <span></span>
      </div>
    </div>
    </div>

    <!--点击新增路线出现的弹出框-->
    <div class="route-action-block">
      <div class="route-action" ng-show="isnewly">
        <div class="route-action-bar">
          <button ng-click="closeaddroute()" class="button button-clear button-positive button-thin">取消</button>
          <input type="text" ng-model="route.name" placeholder="请输入路线名称" maxlength="5" class="route-name-input"/>
          <button class="button button-positive button-thin" ng-click="saveroute()">保存</button>
        </div>
        <ion-scroll class="window-list" ng-show="route.cart.length>0">
          <ion-list show-delete="true"
                    show-reorder="true">
            <ion-item ng-repeat="item in route.cart">
              <h1 class="item-title">{{item.InstitutionName}} ({{item.InstitutionPriority}})</h1>
              <p class="item-text">{{item.Address}}</p>
              <ion-delete-button class="ion-minus-circled" ng-click="route.cart.splice($index, 1)"></ion-delete-button>
              <ion-reorder-button class="ion-arrow-swap"
                                  on-reorder="moveRoute(route.cart,item,$fromIndex,$toIndex)"></ion-reorder-button>
            </ion-item>
          </ion-list>
        </ion-scroll>
        <div class="bg-white text-center" ng-show="route.cart.length>3" style="padding: 6px 0;color: #ff6868;">已加入{{route.cart.length}}家</div>
      </div>
    </div>
    <!--点击某一条路线出现的弹出框-->
    <div class="route-action-block" ng-show="routedetail">
      <div class="route-action">
        <div class="route-action-bar">
          <button ng-click="deleteroute()" class="button button-clear button-assertive button-thin">删除</button>
          <input type="text" ng-model="currentRoute.LineName" placeholder="请输入路线名称" maxlength="5" class="route-name-input"/>
          <button class="button button-positive button-thin" ng-show="!routeedit" ng-click="showrouteedit()">编辑</button>
          <button class="button button-stable button-thin" ng-show="routeedit" ng-click="closerouteedit()">取消</button>
          <button class="button button-positive button-thin" ng-show="routeedit" ng-click="updateroute()">保存</button>
        </div>
        <ion-scroll class="window-list" ng-show="currentRoute.Institutions.length>0">
          <ion-list show-delete="routeedit"
                    show-reorder="routeedit">
            <ion-item ng-repeat="item in currentRoute.Institutions" ng-click="openinsinfo(item)">
              <h1 class="item-title">{{item.InstitutionName}} ({{item.InstitutionPriority}})</h1>
              <p class="item-text">{{item.Address}}</p>
              <ion-delete-button class="ion-minus-circled"
                                 ng-click="currentRoute.Institutions.splice($index, 1)"></ion-delete-button>
              <ion-reorder-button class="ion-arrow-swap"
                                  on-reorder="moveRoute(currentRoute.Institutions,item,$fromIndex,$toIndex)"></ion-reorder-button>
            </ion-item>
          </ion-list>
        </ion-scroll>
        <div class="bg-white text-center" ng-show="route.cart.length>3" style="padding: 6px 0;color: #ff6868;">已加入{{route.cart.length}}家</div>
      </div>
    </div>

    <!--搜索机构弹出框-->
    <div class="route-action-block" ng-show="searchmodal">
      <div class="route-action">
        <div class="route-action-bar">
          <button class="button button-clear button-positive button-thin" ng-click="closesearchmodal()">取消</button>
          <input type="text" ng-model="searchmodel.Value" placeholder="请输入店名称关键字" maxlength="20" class="route-name-input wide"/>
          <button class="button button-clear button-positive button-thin" ng-click="searchstorebykeyword()">搜索</button>
        </div>
        <ion-scroll class="window-list" ng-show="searchresult.length>0">
          <ion-list>
            <ion-item ng-repeat="item in searchresult" ng-click="openinsinfo(item)">
              <h1 class="item-title">{{item.InstitutionName}} ({{item.InstitutionPriority}})</h1>
              <p class="item-text">{{item.Address}}</p>
            </ion-item>
          </ion-list>
        </ion-scroll>
        <div class="bg-white text-center" ng-show="searchresult.length>3">....</div>
      </div>
    </div>

    <!--无坐标机构弹出框-->
    <div class="route-action-block" ng-show="nolatlngmodal">
      <div class="route-action">
        <div class="route-action-bar">
          <div class="align-center" style="color: #4587f7;"><img src="img/nolatlng-icon.png" width="20" style="margin-right: 8px;">无机构坐标（<span class="color-orange">{{nolatlngresult.length}}</span>）</div>
          <button class="button button-clear button-positive button-thin" ng-click="closenolatlngmodal()">关闭</button>
        </div>
        <ion-scroll class="window-list" ng-show="nolatlngresult.length>0">
          <ion-list>
            <ion-item ng-repeat="item in nolatlngresult"  ng-click="openinsinfo(item)">
              <h1 class="item-title">{{item.InstitutionName}} ({{item.InstitutionPriority}})</h1>
              <p class="item-text">{{item.Address}}</p>
            </ion-item>
          </ion-list>
        </ion-scroll>
        <div class="bg-white text-center" ng-show="nolatlngresult.length>3">....</div>
      </div>
    </div>

    <!--点击机构，若机构已存在于某条路线中弹出的提示框-->
    <div class="bg-white warnremind"
         style="opacity:0.9;position:absolute;width:88%;height:45px;line-height:45px;left:0;right:0;margin:auto;bottom:60px;" ng-show="routetoast">
      <img src="img/warning_red_46.png" style="margin:0 10px;margin-top: 8px;" width="27"/><span
      style="color:#E65045;font-size:13px;position: absolute;" ng-bind="insroutesinfo"></span>
    </div>
  </ion-content>
</ion-view>
