<ion-view title="答题历史" view-title="答题历史">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">答题历史</div>
  </div>
  <ion-content class="has-header exercise-history">
    <div class="points-top">
      <div class="list-item multi-line no-line">
        <div class="item-content">
          <div class="item-media"><img src="img/rank_avatar_blue.png" width="40"></div>
          <div class="item-inner">
            <div class="item-title-row has-correct">
              <div class="item-title">张文杰<span class="tag">今日已答题</span></div>
            </div>
            <div class="progress-track">
              <div class="progress" style="width: 40%"></div>
            </div>
          </div>
          <div class="flex-center points">
            <span>70</span>积分
          </div>
        </div>
      </div>
      <ul class="flex-between exercise-week">
        <li class="has-correct">
          <div class="dot"></div>
          <div class="title">周日</div>
          <div class="day">09/22</div>
        </li>
        <li class="has-wrong">
          <div class="dot"></div>
          <div class="title">周一</div>
          <div class="day">09/22</div>
        </li>
        <li class="has-correct">
          <div class="dot"></div>
          <div class="title">周一</div>
          <div class="day">09/22</div>
        </li>
        <li class="">
          <div class="dot"></div>
          <div class="title">周一</div>
          <div class="day">09/22</div>
        </li>
        <li class="has-correct">
          <div class="dot"></div>
          <div class="title">周一</div>
          <div class="day">09/22</div>
        </li>
        <li class="">
          <div class="dot"></div>
          <div class="title">周一</div>
          <div class="day">09/22</div>
        </li>
        <li class="has-correct">
          <div class="dot"></div>
          <div class="title">周一</div>
          <div class="day">09/22</div>
        </li>
      </ul>
    </div>
    <div class="history-block font-12 bg-white">
      <div class="padding flex-start margin-img">
        <img src="img/examination_blue_52.png" width="20">
        答题记录
      </div>
      <ul class="history-list">
        <li class="list-item">
          <div class="flex-between">
            <div>
              <div class="flex-start margin-img">
                <img src="img/calendar_active_44.png" width="18">
                2017-02-12 <span class="space-10"></span>(今日)
              </div>
              <div class="flex-start margin-img">
                <img src="img/pencil_gray_24.png" width="14">
                题目
              </div>
            </div>
            <div class="points">+1</div>
          </div>
          <div class="question">
            <p>请问糖尿病前期不会导致下列哪种情况？</p>
            <p><span class="tag">正确</span>A、成为2型糖尿病患者的风险增加</p>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
