<ion-view title="积分排行" view-title="积分排行">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">积分排行</div>
  </div>
  <ion-content class="has-header points-rank">
    <div class="points-top">
      <div class="list-item multi-line no-line">
        <div class="item-content">
          <div class="item-media"><img src="img/rank_avatar_blue.png" width="40"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">张文杰<span class="space-10"></span><span class="font-12">区域排名 <span
                class="space-5"></span> 第七名</span></div>
            </div>
            <div class="progress-track">
              <div class="progress" style="width: 40%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-center">
        <span>70</span>积分
      </div>
    </div>
    <ul class="rank-list">
      <li class="list-item">
        <div class="item-content">
          <div class="item-media"><span class="count-golden count"></span></div>
          <div class="item-inner">
            <div class="flex-start margin-img">
              <img src="img/rank_avatar_gray.png" width="34">
              <div class="item-title weight-5">安康信</div>
            </div>
            <div class="text-right">
              <div class="font-16">90</div>
              <div class="color-gray font-12">累计答题20天</div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="item-content">
          <div class="item-media"><span class="count-silver count"></span></div>
          <div class="item-inner flex-between">
            <div class="flex-start margin-img">
              <img src="img/rank_avatar_gray.png" width="34">
              <div class="item-title">安康信</div>
            </div>
            <div class="text-right">
              <div class="font-16">90</div>
              <div class="color-gray font-12">累计答题20天</div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="item-content">
          <div class="item-media"><span class="count-bronze count"></span></div>
          <div class="item-inner flex-between">
            <div class="flex-start margin-img">
              <img src="img/rank_avatar_gray.png" width="34">
              <div class="item-title">安康信</div>
            </div>
            <div class="text-right">
              <div class="font-16">90</div>
              <div class="color-gray font-12">累计答题20天</div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="item-content">
          <div class="item-media"><span class="count">4</span></div>
          <div class="item-inner flex-between">
            <div class="flex-start margin-img">
              <img src="img/rank_avatar_gray.png" width="34">
              <div class="item-title">安康信</div>
            </div>
            <div class="text-right">
              <div class="font-16">90</div>
              <div class="color-gray font-12">累计答题20天</div>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </ion-content>
</ion-view>
