<!--AE点城市名称出弹框-->
<div class="">
  <div class="bar bar-header bar-light">
    <button class="button button-clear button-positive" ng-click="closeActualAE()">关闭</button>
    <div class="h1 title">周一 (10/22)</div>
  </div>
  <div class="padding-top44">
    <div class="align-center padding margin-img">
      <img src="img/route_green_44.png" width="18"> 城市名称(5)
    </div>
    <ul>
      <li class="list-item multi-line" ng-repeat="item in actualStoreList">
        <div class="item-content align-top">
          <div class="item-media"><img src="img/markerA_52.png" width="20"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">{{item.name}} parent</div>
            </div>
            <div class="item-text">{{item.city}} {{item.address}}</div>
            <div class="item-text color-orange">
              <span ng-repeat="typename in ['项目一','项目二','项目叁']">{{typename}}</span>

            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
