<!--暂时不需要-->
<ion-view title="半天事务审批" view-title="半天事务审批">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">半天事务审批</div>

  </div>

  <ion-content class="has-header bg-white">
    <div class="flex-between planreport-title">
      <div class="margin-img">
        <span class="dot"></span>待提交
      </div>
      <button class="button button-small icon-left ion-ios-checkmark-empty button-positive">
        提交
      </button>
    </div>
    <ul class="halfday-approval">
      <li class="list-item">
        <div class="padding-0015 margin-img color-blue align-center">
          <img src="img/create_blue_48.png" width="14">2017/09/23
        </div>
        <div class="list-item multi-line">
          <div class="item-content align-top">
            <div class="item-media"><span class="color-blue">上午</span></div>
            <div class="item-inner">
              <div class="flex-row">
                <div class="col-40">修改前半天事务</div>
                <div class="col-60">团队会议</div>
              </div>
              <div class="flex-row">
                <div class="col-40">修改后半天事务</div>
                <div class="col-60">市场交接</div>
              </div>
              <div class="flex-row">
                <div class="col-40">审批状态</div>
                <!--color-brightorange:待提交-->
                <!--color-green:待审批-->
                <!--color-red:待提交-->
                <div class="col-60 color-brightorange">待提交</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="padding-0015 margin-img color-blue align-center">
          <img src="img/create_blue_48.png" width="14">2017/09/23
        </div>
        <div class="list-item multi-line">
          <div class="item-content align-top">
            <div class="item-media"><span class="color-blue">上午</span></div>
            <div class="item-inner">
              <div class="flex-row">
                <div class="col-40">修改前半天事务</div>
                <div class="col-60">团队会议</div>
              </div>
              <div class="flex-row">
                <div class="col-40">修改后半天事务</div>
                <div class="col-60">市场交接</div>
              </div>
              <div class="flex-row">
                <div class="col-40">审批状态</div>
                <div class="col-60 color-green">待审批</div>
              </div>
            </div>
          </div>
        </div>
        <div class="list-item multi-line">
          <div class="item-content align-top">
            <div class="item-media"><span class="color-blue">下午</span></div>
            <div class="item-inner">
              <div class="flex-row">
                <div class="col-40">修改前半天事务</div>
                <div class="col-60">团队会议</div>
              </div>
              <div class="flex-row">
                <div class="col-40">修改后半天事务</div>
                <div class="col-60">市场交接</div>
              </div>
              <div class="flex-row">
                <div class="col-40">审批状态</div>
                <div class="col-60 color-brightorange">待提交</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="padding-0015 margin-img color-blue align-center">
          <img src="img/create_blue_48.png" width="14">2017/09/23
        </div>
        <div class="list-item multi-line">
          <div class="item-content align-top">
            <div class="item-media"><span class="color-blue">上午</span></div>
            <div class="item-inner">
              <div class="flex-row">
                <div class="col-40">修改前半天事务</div>
                <div class="col-60">团队会议</div>
              </div>
              <div class="flex-row">
                <div class="col-40">修改后半天事务</div>
                <div class="col-60">市场交接</div>
              </div>
              <div class="flex-row">
                <div class="col-40">审批状态</div>
                <div class="col-60 color-red">审批拒绝</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
