<ion-view title="计划报告" view-title="计划报告">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">计划报告</div>

  </div>

  <ion-content class="has-header bg-white">
    <div class="flex-between planreport-title">
      <div class="margin-img">
        <span class="dot"></span>待提交
      </div>
      <button class="button button-small icon-left ion-ios-checkmark-empty button-positive">
        提交
      </button>
    </div>
    <div class="padding">
      <div class="flex-center font-14 weight-6">赵点与</div>
      <div class="flex-around font-12">
        <div class=""><span class="">所在岗位：</span><span class="weight-6">嘉兴01</span></div>
        <div class=""><span class="">辖区药店数：</span><span class="weight-6">63家</span></div>
      </div>
    </div>
    <div class="flex-between symbol-row">
      <div class="align-center margin-img color-blue"><img src="img/calendar_active_44.png" width="14">2017/09</div>
      <div class="flex-between affair-green">
        <div class="affair-dot"></div>
        <div>路线</div>
      </div>
      <div class="flex-between affair-red">
        <div class="affair-dot"></div>
        <div>个人事务</div>
      </div>
      <div class="flex-between affair-orange">
        <div class="affair-dot"></div>
        <div>团队事务</div>
      </div>
      <div class="flex-between affair-blue">
        <div class="affair-dot"></div>
        <div>公司事务</div>
      </div>
    </div>
    <ul class="flex-around bg-light font-12 content-block">
      <li>日</li>
      <li>一</li>
      <li>二</li>
      <li>三</li>
      <li>四</li>
      <li>五</li>
      <li>六</li>
    </ul>
    <div class="calendar-block">
      <div class="col-7">
        <span>1</span>
        <span class="tag-green">路线名称啊</span>
        <span class="tag-orange">路线名称啊</span>
        <span class="tag-red">路线名称啊</span>
      </div>
      <div class="col-7">
        <span>1</span>
        <span class="tag-green">路线名称啊</span>
        <span class="tag-blue">路线名称啊</span>
        <span class="tag-red">路线名称啊</span>
      </div>
      <div class="col-7">安德玛别撒</div>
      <div class="col-7">安德玛别撒</div>
      <div class="col-7">安德玛别撒</div>
      <div class="col-7">安德玛别撒</div>
      <div class="col-7">安德玛别撒</div>
      <div class="col-7">安德玛别撒</div>
      <div class="col-7">安德玛别撒</div>
      <div class="col-7">安德玛别撒</div>
      <div class="col-7">安德玛别撒</div>
    </div>
    <div class="calendar-block">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>日</th>
          <th>一</th>
          <th>二</th>
          <th>三</th>
          <th>四</th>
          <th>五</th>
          <th>六</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
</ion-view>
