<ion-view title="日程管理" view-title="日程管理">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button hide buttons button-clear header-item" style="">
      <i class="icon ion-android-arrow-back"></i>
      <span class="back-text" style=""></span>
    </button>
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <div class="h1 title">日程管理</div>

  </div>
  <div class="bar bar-subheader bar-stable week-view">
    <ul class="flex-row week-title">
      <li>日</li>
      <li>一</li>
      <li>二</li>
      <li>三</li>
      <li>四</li>
      <li>五</li>
      <li>六</li>
    </ul>
    <ul class="flex-row week-day" id="week-day" on-swipe-right="PrevWeek()" on-swipe-left="NextWeek()">
      <li>11</li>
      <li>12</li>
      <li>13</li>
      <li>14</li>
      <li class="today">15</li>
      <li>16</li>
      <li>17</li>
    </ul>
  </div>
  <ion-content class="has-header has-subheader">
    <div class="bg-white">

      <div>
        <ul>

        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
