<ion-view title="日程管理" view-title="日程管理">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button hide buttons button-clear header-item" style="">
      <i class="icon ion-android-arrow-back"></i>
      <span class="back-text" style=""></span>
    </button>
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <div class="h1 title">
      <!--viewActive：dayView | weekView 切日视图和周视图-->
      <div class="button-group">
        <div class="group-button button" ng-click="viewActive='dayView'" ng-class="{'selected':viewActive=='dayView'}">
          日
        </div>
        <div class="group-button button" ng-click="viewActive='weekView'"
             ng-class="{'selected':viewActive=='weekView'}">周
        </div>
      </div>
    </div>
  </div>
  <!--日视图时显示周日历-->
  <div class="bar bar-subheader bar-stable week-slide" ng-show="viewActive=='dayView'">
    <ul class="flex-row week-title">
      <li>日</li>
      <li>一</li>
      <li>二</li>
      <li>三</li>
      <li>四</li>
      <li>五</li>
      <li>六</li>
    </ul>
    <!--左右滑动切周-->
    <ul class="flex-row week-day" id="weekDay" on-swipe-right="PrevWeek()" on-swipe-left="NextWeek()">
      <!--repeat周的日期-->
      <li ng-repeat="item in weekChange" ng-click="clickDate(item)" ng-class="{true: 'today'}[item.toLocaleDateString()==today.toLocaleDateString()]">{{item.getDate()}}</li>
    </ul>
  </div>
  <div class="bar bar-subheader bar-stable week-tap" ng-show="viewActive=='weekView'">
    <div class="flex-between width-100">
      <div class="flex-between">
        <button class="button button-icon align-center">
          <span class="uicon uicon-blue-prev"></span>
        </button>
        <div>2017/09/23 ~ 2017/09/29</div>
        <button class="button button-icon align-center">
          <span class="uicon uicon-blue-next"></span>
        </button>
      </div>
      <button class="button button-icon align-center" ng-click="statusTab='actual'"
              ng-class="{'selected':statusTab=='actual'}">
        <span class="uicon uicon-schlist"></span>
      </button>
      <button class="button button-icon align-center" ng-click="statusTab='plan'"
              ng-class="{'selected':statusTab=='plan'}">
        <span class="uicon uicon-add"></span>
      </button>
    </div>
  </div>
  <ion-content class="has-header has-subheader" ng-class="{'top-135':viewActive=='dayView'}">
    <!--日视图的tab-->
    <div class="crl-tab height-100" ng-show="viewActive=='dayView'">
      <div class="height-100">
        <div class="list-item schedule-title">
          <div class="item-content">
            <div class="item-media"><img src="img/calendar_active_44.png" width="24"></div>
            <div class="item-inner">
              <div class="item-title color-blue">2017/03/03</div>
              <div class="item-after" ng-show="CCR">
                <a class="button button-clear button-stable button-small flex-center" ng-click="dayInfoTab='list'"
                   ng-class="{'selected':dayInfoTab=='list'}"><span class="uicon list-view"></span></a>
                <span class="space-stick" style="font-size: 17px;color: #d5d5d5;">|</span>
                <a class="button button-clear button-stable button-small flex-center" ng-click="dayInfoTab='map'"
                   ng-class="{'selected':dayInfoTab=='map'}"><span class="uicon map-view"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="crl-tabs">
          <!--日视图里的列表-->
          <div class="crl-tab height-100" ng-show="dayInfoTab=='list'">
            <div class="bg-white home-schedule height-100">
              <!--当角色为CCR时显示-->
              <div class="list-item multi-line no-line" ng-show="CCR">
                <div class="item-content">
                  <div class="item-media"><img src="img/route_green_44.png" width="28"></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">路线名称11</div>
                    </div>
                    <div class="item-title-row">
                      <div class="item-title" style="width: 100%;">
                        <div class="progress-track">
                          <div class="progress" ng-style="progress"></div>
                        </div>
                      </div>
                      <div class="item-after color-blue" style="margin-left: 15px;">计划匹配&nbsp;{{progressNum}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--当角色为AE时显示-->
              <div class="list-item no-line" ng-show="AE">
                <div class="item-content">
                  <div class="item-media"><img src="img/route_green_44.png" width="28"></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">城市名称11</div>
                    </div>
                  </div>
                </div>
              </div>
              <ul>
                <li class="list-item multi-line schedule-called">
                  <div class="item-content align-top">
                    <div class="item-media"><span class="list-dot"></span></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">北京xxxxx分部(A)</div>
                      </div>
                      <div class="item-text">北京市朝阳区xxxx院</div>
                      <div class="flex-row align-end">
                        <div class="col-33 color-green">签入&nbsp;10:21:21</div>
                        <div class="col-33 color-green">签出&nbsp;10:21:21</div>
                        <div class="col-33 flex-end">
                          <a
                            class="button button-clear button-stable button-small flex-center icon-button margin-img"><img
                            src="img/search_gray_30.png" width="18">查看</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-item multi-line schedule-calledout">
                  <div class="item-content align-top">
                    <div class="item-media"><span class="list-dot"></span></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">北京xxxxx分部(A)</div>
                      </div>
                      <div class="item-text">北京市朝阳区xxxx院</div>
                      <div class="flex-row align-end">
                        <div class="col-33 color-green">签入&nbsp;10:21:21</div>
                        <div class="col-33 color-green">签出&nbsp;10:21:21</div>
                        <div class="col-33 flex-end">
                          <a
                            class="button button-clear button-stable button-small flex-center icon-button margin-img"><img
                            src="img/search_gray_30.png" width="18">查看</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-item multi-line schedule-called">
                  <div class="item-content align-top">
                    <div class="item-media"><span class="list-dot"></span></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">北京xxxxx分部(A)</div>
                      </div>
                      <div class="item-text">北京市朝阳区xxxx院</div>
                      <div class="flex-row align-end">
                        <div class="col-33 color-green">签入&nbsp;10:21:21</div>
                        <div class="col-33 color-green">签出&nbsp;10:21:21</div>
                        <div class="col-33 flex-end">
                          <a
                            class="button button-clear button-stable button-small flex-center icon-button margin-img"><img
                            src="img/search_gray_30.png" width="18">查看</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-item multi-line schedule-plan">
                  <div class="item-content align-top">
                    <div class="item-media"><span class="list-dot"></span></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">北京xxxxx分部(A)</div>
                      </div>
                      <div class="flex-row align-end">
                        <div class="col-66 color-gray">北京市朝阳区xxxx院</div>
                        <div class="col-33 flex-end">
                          <a
                            class="button button-clear button-stable button-small flex-center color-blue icon-button margin-img"><img
                            src="img/entrance_blue_30.png" width="18">拜访</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-item multi-line schedule-plan">
                  <div class="item-content align-top">
                    <div class="item-media"><span class="list-dot"></span></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">北京xxxxx分部(A)</div>
                      </div>
                      <div class="flex-row align-end">
                        <div class="col-66 color-gray">北京市朝阳区xxxx院</div>
                        <div class="col-33 flex-end">
                          <a
                            class="button button-clear button-stable button-small flex-center color-blue icon-button margin-img"><img
                            src="img/entrance_blue_30.png" width="18">拜访</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!--日视图里的地图-->
          <div class="crl-tab height-100" ng-show="dayInfoTab=='map'">
            <div class="route-action-block daily">
              <div class="sign-info">
                <div class="route-action flex-between">
                  <div class="sign-time flex-start"><span>首次签入时间</span>
                    <div class="align-center"><img src="img/clock_blue_30.png" width="18"><span>09:20:23</span></div>
                  </div>
                  <div class="block-button flex-center actual"><img src="img/route_green_44.png" width="22">实际路线</div>
                </div>
                <div class="route-action flex-between">
                  <div class="sign-time flex-start"><span>末次签出时间</span>
                    <div class="align-center"><img src="img/clock_blue_30.png" width="18"><span>09:20:23</span></div>
                  </div>
                  <div class="block-button flex-center plan"><img src="img/route_blue_42.png" width="22">计划路线</div>
                </div>
              </div>
            </div>
            <div class="height-100" id="dailyMap"></div>
          </div>
        </div>
      </div>
    </div>
    <!--周视图的tab-->
    <div class="crl-tab height-100" ng-show="viewActive=='weekView'">
      <!--statusTab：actual | plan 周视图里切实际-->
      <div ng-show="statusTab=='actual'">
        <!--角色为CCR 时显示下面列表-->
        <ul class="schedule-week-list" ng-show="CCR">
          <li>
            <div class="content-block-title">周一(10/22)</div>
            <div class="schedule-week-row">
              <div class="col-40">
                <div class="flex-between">
                  <img src="img/route_green_44.png" width="18">
                  <div class="progress-block">
                    <div class="">路线名称啊(9)65%</div>
                    <div class="progress-track">
                      <div class="progress" ng-style="progress"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-33 flex-center">
                <div>
                  <div class="">首次签入 09:03:02</div>
                  <div class="">首次签入 09:03:02</div>
                </div>
              </div>
              <div class="col-27 flex-center">
                <div class="width-100">
                  <div class="flex-between affair-gray">
                    <div>无半天事务</div>
                    <div class="affair-dot"></div>
                  </div>
                  <div class="flex-between affair-orange">
                    <div>年假</div>
                    <div class="affair-dot"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="content-block-title">周二(10/23)</div>
            <div class="schedule-week-row">
              <div class="col-40">
                <div class="flex-between">
                  <img src="img/route_green_44.png" width="18">
                  <div class="progress-block">
                    <div class="">路线名称啊(9)65%</div>
                    <div class="progress-track">
                      <div class="progress" ng-style="progress"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-33 flex-center">
                <div>
                  <div class="">首次签入 09:03:02</div>
                  <div class="">首次签入 09:03:02</div>
                </div>
              </div>
              <div class="col-27 flex-center">
                <div class="width-100">
                  <div class="flex-between affair-red">
                    <div>不可抗不可抗不可抗</div>
                    <div class="affair-dot"></div>
                  </div>
                  <div class="flex-between affair-blue">
                    <div>年假</div>
                    <div class="affair-dot"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!--角色为AE时显示下面列表-->
        <ul class="schedule-week-list" ng-show="AE">
          <li>
            <div class="content-block-title">周一(10/22)</div>
            <div class="schedule-week-row">
              <div class="col-40">
                <div class="flex-start">
                  <img src="img/route_green_44.png" width="18" style="margin-right: 8px;">
                  <div class="">城市名称啊(9)</div>
                </div>
              </div>
              <div class="col-33 flex-center">
                <div>
                  <div class="">首次签入 09:03:02</div>
                  <div class="">首次签入 09:03:02</div>
                </div>
              </div>
              <div class="col-27 flex-center">
                <div class="width-100">
                  <div class="flex-between affair-gray">
                    <div>无半天事务</div>
                    <div class="affair-dot"></div>
                  </div>
                  <div class="flex-between affair-orange">
                    <div>年假</div>
                    <div class="affair-dot"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="content-block-title">周二(10/23)</div>
            <div class="schedule-week-row">
              <div class="col-40">
                <div class="flex-start">
                  <img src="img/route_green_44.png" width="18" style="margin-right: 8px;">
                  <div class="">城市名称啊(9)</div>
                </div>
              </div>
              <div class="col-33 flex-center">
                <div>
                  <div class="">首次签入 09:03:02</div>
                  <div class="">首次签入 09:03:02</div>
                </div>
              </div>
              <div class="col-27 flex-center">
                <div class="width-100">
                  <div class="flex-between affair-red">
                    <div>不可抗不可抗不可抗</div>
                    <div class="affair-dot"></div>
                  </div>
                  <div class="flex-between affair-blue">
                    <div>年假</div>
                    <div class="affair-dot"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!--statusTab：actual | plan 周视图里切计划-->
      <div ng-show="statusTab=='plan'">
        <ul class="schedule-week-list" ng-show="CCR">
          <li>
            <div class="content-block-title">周一(10/22)</div>
            <div class="schedule-week-row">
              <div class="col-73">
                <div class="flex-between width-100">
                  <div class="flex-start width-50">
                    <img src="img/route_green_44.png" width="18">
                    <div class="align-center">路线名称啊(9)</div>
                  </div>
                  <div class="width-50 flex-between">
                    <div class="insA align-center">
                      <span class="dot"></span><span class="count">2</span>
                    </div>
                    <div class="insB align-center">
                      <span class="dot"></span><span class="count">2</span>
                    </div>
                    <div class="insC align-center">
                      <span class="dot"></span><span class="count">2</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-27 flex-center">
                <div class="width-100">
                  <div class="flex-between affair-gray">
                    <div>无半天事务</div>
                    <div class="affair-dot"></div>
                  </div>
                  <div class="flex-between affair-orange">
                    <div>年假</div>
                    <div class="affair-dot"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="content-block-title">周一(10/22)</div>
            <div class="schedule-week-row">
              <div class="col-73">
                <div class="flex-between width-100">
                  <div class="flex-start width-50">
                    <img src="img/route_green_44.png" width="18">
                    <div class="align-center">路线名称啊(9)</div>
                  </div>
                  <div class="width-50 flex-between">
                    <div class="insA align-center">
                      <span class="dot"></span><span class="count">22</span>
                    </div>
                    <div class="insB align-center">
                      <span class="dot"></span><span class="count">22</span>
                    </div>
                    <div class="insC align-center">
                      <span class="dot"></span><span class="count">22</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-27 flex-center">
                <div class="width-100">
                  <div class="flex-between affair-red">
                    <div>不可抗不可抗不可抗</div>
                    <div class="affair-dot"></div>
                  </div>
                  <div class="flex-between affair-blue">
                    <div>年假</div>
                    <div class="affair-dot"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="content-block-title">周三(10/22)</div>
            <div class="schedule-week-row">
              <div class="col-73 flex-center">
                <img src="img/add_gray_64.png" width="36">
              </div>
              <div class="col-27 flex-center" ng-click="showPlanPopup()">
                <img src="img/add_gray_64.png" width="36">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
  <div class="mask" ng-if="halfAffair||planReport" ng-class="{'active':halfAffair||planReport,'visible':halfAffair||planReport}"></div>
  <!-- ng-show="halfAffair"-->
  <div class="footer-block" ng-class="{'visible':halfAffair}">
    <div class="bar bar-header bar-stable">
      <button class="button back-button button-clear color-gray" ng-click="cancelPlanFooter()">取消</button>
      <div class="h1 title">周一(9/21)</div>
      <button class="button button-clear back-button color-blue" ng-click="confirmPlanFooter()">确定</button>
    </div>
    <div class="schedule-btg">
      <div class="flex-center">
        <div class="width-90">
          <div class="button-group">
            <div class="group-button button flex-center selected" ng-if="CCR">
              路线图
            </div>
            <div class="group-button button flex-center">
              半天事物(上午)
            </div>
            <div class="group-button button flex-center">
              半天事物(上午)
            </div>
          </div>
        </div>
      </div>
      <ul class="schedule-bottom-list">
        <li class="list-item">
          <div class="item-content">
            <!--点击选中，在选中的li的item-media上添加checked-->
            <div class="item-media checked"><span class="uicon radio-button"></span></div>
            <div class="item-inner">
              <div class="item-title align-center ellipsis"><img src="img/route_green_44.png" width="18"> 路线名称啊</div>
              <div class="item-after color-blue" ui-sref="main.editroute" ng-click="cancelPlanFooter()">编辑</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--CCR显示计划报告-->
  <div class="fab-week align-center" ng-click="showHalfFooter()" ng-show="CCR">
    <div>
      <div class="flex-center">
        <img src="img/seal_blue_124.png" width="80">
      </div>
      <!--<div>半天事务</div>-->
    </div>
  </div>
  <!--AE显示计划报告-->
  <div class="fab-week align-center" ng-click="showPlanPopup()" ng-show="AE">
    <div>
      <div class="flex-center">
        <img src="img/doc_blue_126.png" width="80">
      </div>
      <!--<div>计划报告</div>-->
    </div>
  </div>
</ion-view>
