<ion-view title="按产品" view-title="按产品">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">按产品</div>
  </div>
  <ion-content class="has-header">
    <div class="search-zl-div bg-white">
      <input id="search-zl-div-input" type="text" placeholder="搜索资料">
      <button class="search-zl-div-btn">搜索</button>
    </div>
    <div class="zlk-all-zl-info bg-white">
      <div class="all-zl-content all-zl-content-bysku">
        <img class="zlk-all-zl-li-img" src="img/classifybysku.png"/>
        <div class="zlk-all-zl-li-div">
          <div>
            <span style="font-size:15px;color:black;">安康信</span><br>
            <span class="sku-spec">60mg*5片（盒）</span>
          </div>
          <div class="zlk-pdf-file-div">
            <img class="classify-img" src="img/PDF-icon.png">
            <span class="pdf-file">&nbsp;文件:<span class="count-of-pdffile">&nbsp;9</span></span>
          </div>
          <div class="zlk-vedio-file-div">
            <img class="classify-img" src="img/vedio-icon.png">
            <span class="vedio-file">&nbsp;视频:<span class="count-of-vediofile">&nbsp;4</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="zlk-sku-allinfo-content bg-white">
      <ul class="zlk-sku-allinfo-content-ul">
        <li class="zlk-sku-allinfo-content-li">
          <img src="img/tjzl-2.png">
          <span>文案标题XXX</span>
        </li>
        <li class="zlk-sku-allinfo-content-li">
          <img src="img/tjzl-2.png">
          <span>文案标题XXX</span>
        </li>
        <li class="zlk-sku-allinfo-content-li">
          <img src="img/tjzl-2.png">
          <span>文案标题XXX</span>
        </li>
      </ul>
      <ul class="zlk-sku-allinfo-content-ul">
        <li class="zlk-sku-allinfo-content-li">
          <img src="img/tjzl-2.png">
          <span>文案标题XXX</span>
        </li>
        <li class="zlk-sku-allinfo-content-li">
          <img src="img/tjzl-2.png">
          <span>文案标题XXX</span>
        </li>
        <li class="zlk-sku-allinfo-content-li">
          <img src="img/tjzl-2.png">
          <span>文案标题XXX</span>
        </li>
      </ul>
      <ul class="zlk-sku-allinfo-content-ul">
        <li class="zlk-sku-allinfo-content-li">
          <img src="img/tjzl-2.png">
          <span>文案标题XXX</span>
        </li>
        <li class="zlk-sku-allinfo-content-li">
          <img src="img/tjzl-2.png">
          <span>文案标题XXX</span>
        </li>
        <li class="zlk-sku-allinfo-content-li">
          <img src="img/tjzl-2.png">
          <span>文案标题XXX</span>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>


