<ion-view title="生意回顾" view-title="生意回顾">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">生意回顾</div>
    <div class="buttons" style="position: absolute;right: 5px;">
      <button class="button button-icon" style="font-size: 15px;">保存</button>
    </div>
  </div>
  <ion-content class="has-header">
     <div class="bg-white" style="height: 55%">
       <div class="hgdx-title-div"><img class="hgdx-title-img" src="img/team.png"><span class="hgdx-title-span">回顾对象</span></div>
       <div class="hgdx-juti-content">
         <ul style="padding-left:12px;">
           <li class="hgdx-ul-li">
             <img ng-click="selectdx1()" class="checklist-select-quan" id="dx1"  src="img/blankquan.png" />
             <div class="hgdx-ul-li-contentdiv">
               <div><span class="hgdx-list-docname">王医师</span><img class="hgdx-ul-li-contentdiv-img" src="img/zhiwu.png"><span class="hgdx-chooesd">所属职务</span></div>
             </div>
           </li>
           <li class="hgdx-ul-li">
             <img ng-click="selectdx2()" class="checklist-select-quan" id="dx2"  src="img/blankquan.png" />
             <div class="hgdx-ul-li-contentdiv">
               <div><span class="hgdx-list-docname">王医师</span><img class="hgdx-ul-li-contentdiv-img" src="img/zhiwu.png"><span class="hgdx-chooesd">所属职务</span></div>
             </div>
           </li>
           <li class="hgdx-ul-li">
             <img ng-click="selectdx3()" class="checklist-select-quan" id="dx3"  src="img/blankquan.png" />
             <div class="hgdx-ul-li-contentdiv">
               <div><span class="hgdx-list-docname">王医师</span><img class="hgdx-ul-li-contentdiv-img" src="img/zhiwu.png"><span class="hgdx-chooesd">所属职务</span></div>
             </div>
           </li>
           <li class="hgdx-ul-li">
             <img ng-click="selectdx4()" class="checklist-select-quan" id="dx4"  src="img/blankquan.png" />
             <div class="hgdx-ul-li-contentdiv">
               <div><span class="hgdx-list-docname">王医师</span><img class="hgdx-ul-li-contentdiv-img" src="img/zhiwu.png"><span class="hgdx-chooesd">所属职务</span></div>
             </div>
           </li>
           <li class="hgdx-ul-li">
             <img ng-click="selectdx5()" class="checklist-select-quan" id="dx5"  src="img/blankquan.png" />
             <div class="hgdx-ul-li-contentdiv">
               <div><span class="hgdx-list-docname">王医师</span><img class="hgdx-ul-li-contentdiv-img" src="img/zhiwu.png"><span class="hgdx-chooesd">所属职务</span></div>
             </div>
           </li>
         </ul>
       </div>
       <div class="zengjiaduixiang-div">
         <input id="zengjiaduixiang-sr" type="text" placeholder="手动输入添加"><button class="zengjiaduixiang-btn">添加</button>
       </div>
     </div>
     <div>
       <div class="xcphoto-block-title">现场照片</div>
       <div class="list-block" style="margin: 0;">
         <ul>
           <li>
             <div class="tj-photo-div">
               <img class="checkin_ImgAdd" src="img/upload-photo.png" />
             </div>
             <div class="" style="margin:10px 0;margin-left:100px;overflow: scroll;" id="not_gps">
               <div id="img_list">

               </div>
             </div>
           </li>
         </ul>
       </div>
     </div>
    <div class="baohanppt bg-white">
      <span>包含PPT</span><img class="contentppt-img" src="img/blankquan.png">
    </div>
    <div class="businessreview-save-div">
      <button class="button businessreview-save-btn">保存</button>
    </div>
  </ion-content>
</ion-view>

