<!--CCR拜访向导-->
<ion-view>
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button hide buttons button-clear header-item" style="">
      <i class="icon ion-android-arrow-back"></i>
      <span class="back-text" style=""></span>
    </button>
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <div class="h1 title">拜访向导</div>
  </div>
  <ion-content class="call-guide">
    <!--地图-->
    <amap></amap>
    <!--机构详情下面的黑色阴影层-->
    <div class="black-shadow-understoreinfo" ng-click="closestoreinfowindow()"></div>
    <!--点击窗体信息右边的图标查看机构详情上拉弹窗-->
    <div class="storeinfo-drag-up-div bg-white">
       <div class="storeinfo-up">
         <div class="storeinfo-title-img-div"><img class="storeinfo-title-img" src="img/tc-bigstore-blue.png" width="48"></div>
         <div class="storeinfo-title-inner">
           <p class="storeinfo-title-inner-p">复方药店</p>
           <span class="storeinfo-title-inner-span">岚皋路121号</span>
         </div>
       </div>
       <div class="storeinfo-down">
         <table class="table table-hover table-condensed" style="margin-top:0;padding:5px 15px;width:100%;">
           <thead>
           <tr style="background-color:rgba(255,165,0,0.11)">
             <th></th>
             <th class="caokao-orange">参考目标</th>
             <th class="caokao-orange">购进量</th>
             <th class="caokao-orange">百分比</th>
           </tr>
           </thead>
           <tbody id="InstitutionList">
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td color-blue">YTD</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td">1月</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td">2月</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td">3月</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td">4月</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td">5月</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td">6月</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td">7月</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td">8月</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td">9月</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td">10月</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td">11月</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           <tr class="storeinfo-tbody-tr">
             <td class="callguide-cankao-td">12月</td>
             <td class="caokao-orange">100000</td>
             <td class="callguide-cankao-td">100000</td>
             <td class="callguide-cankao-td">100%</td>
           </tr>
           </tbody>
         </table>
       </div>
    </div>
  </ion-content>
  <!--底部上滑-->
  <div class="footer-block" ng-class="{'visible':isExpand}">
    <div class="toggle-bar flex-center" ng-click="ToggleFooter()"><img src="img/arrow_down_16.png" alt="15"></div>
    <div class="flex-around tab-title">
      <div class="flex-center" ng-repeat="item in tabs">
        <div class="tab-button" ng-class="{'active':currentTab==item}"
             ng-click="switchTab(item)">
          {{item.title}}
        </div>
      </div>
    </div>
    <!--今日行程tab-->
    <ul class="dragup-ul" ng-show="currentTab.name=='todaysch'">
      <li class="list-item multi-line" ng-repeat="item in todaysch" ui-sref="main.checkout({insId:item.InstitutionID})">
        <div class="item-content align-top">
          <div class="item-media"><span class="uicon {{item.icon}}"></span></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">{{item.InstitutionName}} ({{item.InstitutionPriority}})</div>
            </div>
            <div class="item-text">{{item.InstitutionAddress}}</div>
            <div class="flex-between align-end font-8">
              <div class="color-green">签入时间&nbsp;{{item.CheckinTime | amDateFormat: 'HH:mm:ss'}}</div>
              <div class="color-green">签出时间&nbsp;{{item.CheckinTime | amDateFormat: 'HH:mm:ss'}}</div>
              <div class="flex-end">
                <a class="button button-clear button-stable button-small flex-center icon-button margin-img"><img src="img/search_gray_30.png" width="18">查看</a></div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-item multi-line ">
        <div class="item-content align-top">
          <div class="item-media"><span class="uicon uicon-markerA"></span></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">国药控股大药房永新连锁店(A)</div>
            </div>
            <div class="item-text">上海市石泉路548号</div>
            <div class="flex-between align-end font-8">
              <div class="color-green">首次签入&nbsp;10:21:21</div>
              <div class="color-red">尚未签出</div>
              <div class="flex-end">
                <a class="button button-clear button-stable button-small flex-center icon-button margin-img"><img src="img/search_gray_30.png" width="18">查看</a></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!--已计划行程tab-->
    <ul class="dragup-ul" ng-show="currentTab.name=='plansch'">
      <li class="list-item multi-line" ui-sref="main.checkin({insId:item.InstitutionID})" ng-repeat="item in plansch.PlanRouteline.Institutions">
        <div class="item-content align-top">
          <div class="item-media"><span class="uicon {{item.icon}}"></span></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">{{item.InstitutionName}} ({{item.InstitutionPriority}})</div>
            </div>
            <div class="flex-row align-end font-8">
              <div class="col-70 color-gray">{{item.Address}}</div>
              <div class="col-30 flex-end">
                <a class="button button-clear button-stable button-small flex-center color-blue icon-button margin-img"><img src="img/entrance_blue_30.png" width="18">拜访</a></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!--我负责的机构tab-->
    <ul class="dragup-ul" ng-show="currentTab.name=='myins'">
      <li class="list-item multi-line" ui-sref="main.checkin({insId:item.InstitutionID})" ng-repeat="item in insdata">
        <div class="item-content align-top">
          <div class="item-media"><span class="uicon {{item.icon}}"></span></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">{{item.InstitutionName}} ({{item.InstitutionPriority}})</div>
            </div>
            <div class="flex-row align-end font-8">
              <div class="col-70 color-gray">{{item.Address}}</div>
              <div class="col-30 flex-end">
                <a class="button button-clear button-stable button-small flex-center color-blue icon-button margin-img"><img src="img/entrance_blue_30.png" width="18">拜访</a></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ion-view>
