<ion-view title="CheckList" view-title="CheckList">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">CheckList</div>
    <button class="button button-clear back-button">
      保存
    </button>
  </div>
  <ion-content class="has-header call-checklist">
    <div>
      <div class="content-block-title">计划提醒</div>
      <div class="bg-white padding-1015 plan-remind">
        <!--用join添加逗号-->
        协议签取 达成跟进 产品配送 产品购进
      </div>
      <div class="content-block-title">请选择</div>

      <ul>
        <li class="list-item" ng-repeat="item in KAItems" ng-class="{'checked':true}">
          <div class="item-content">
            <div class="item-media"><span class="uicon user-checkbox"></span></div>
            <div class="item-inner">
              <div class="item-title align-center" ng-bind="item.ItemName"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>

