<ion-view title="CheckList" view-title="CheckList">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">CheckList</div>
    <button class="button button-clear back-button" ng-click="saveChecklist()">
      保存
    </button>
  </div>
  <ion-content class="has-header call-checklist">
    <div>
      <div class="content-block-title">请选择</div>
      <ul ng-show="KAItems.length>0">
        <li class="list-item" ng-repeat="item in KAItems" ng-class="{'checked':item.selected}" ng-click="item.selected=!item.selected">
          <div class="item-content">
            <div class="item-media"><span class="uicon user-checkbox"></span></div>
            <div class="item-inner">
              <div class="item-title align-center" ng-bind="item.ItemName"></div>
            </div>
          </div>
        </li>
      </ul>
      <div ng-show="KAItems==0" class="flex-center width-100 color-gray">
        暂无数据
      </div>
    </div>
  </ion-content>
</ion-view>

