<ion-view title="签出" view-title="签出">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">签出</div>
  </div>
  <ion-content class="has-header">
    <!-- <marquee id="marquee_" onmouseout="this.start()" onmouseover="this.stop()" style="color:#dc4e4e; width:100%; background-color:#F1D6D6; font-size: 13px;    line-height: 30px;  position: absolute;    z-index: 99;" bgcolor="#ccc" scrollamount="5">
       <img src="img/informationicon.png" style="height: 13px; margin-top: 7px; line-height: 20px; /* padding-top: 5px; */ margin-right: -13px; padding-right: -13px; margin-left: -15px; position: absolute;" />不在签到机构@(ViewBag.Distance)米范围内,不予以签入
     </marquee>-->

    <div class="card" style="margin: 0">
      <div class="card-content">
        <div class="card-content-inner" style="padding: 0;">
          <div id="checkoutmapcontainer" class="amap-container">
          </div>
        </div>
        <div class="card-content" style="height: 60px">
          <div class="card-content-inner content-store">
            <img class="content-store-gradeimg" src="img/GradeA-icon.png"/>
            <p id="lname">复方药店(A)</p>
            <p id="laddress" class="color-gray">岚皋路121号</p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block-title qdxxbt">签到信息</div>
    <div class="list-block check" style="margin-bottom: 15px">
      <ul style="">
        <li class="item-content checkout-qr-li">
          <div class="item-inner">
            <div class="item-title">
              <p style="margin: 0.5em 0;">
                <img class="qricon" src="img/done-signin-icon.png"><text>&nbsp;<span class="qrzt-css">签入 : 09:32:30</span></text>
              </p>
            </div>
          </div>
        </li>
        <li class="item-content" style="padding-left: 18px;">
          <div class="item-inner">
            <div class="item-title">
              <p style="margin: 0.5em 0;">
                <img class="qricon" src="img/not-signin-icon.png"><text>&nbsp;尚未签出</text>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="content-block-title qdxxbt">签到照片</div>
      <div class="list-block" style="margin: 0;">
        <ul>
          <li>
            <div class="checkinimg-div">
              <img class="checkin_ImgAdd" src="img/upload-photo.png" style="width: 80px; height: 80px;" />
            </div>
            <div class="" id="not_gps">
              <div id="img_list">

              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id="btnCheck_GPS">
      <a ui-sref="#" class="button checkintodo-r">GPS签出</a>
    </div>
    <div id="btnCheck_Manual">
      <a ui-sref="#" class="button  checkintodo-g">手动签出</a>
    </div>
  </ion-content>
</ion-view>
