<!--资料名称弹框-->
<div class="height-100">
  <div class="bar bar-header bar-light">
    <button class="button button-clear button-positive" ng-click="closematerial()">取消</button>
    <div class="h1 title">资料名称</div>
  </div>
  <div class="padding-top44">
    <div class="material-pic">
      <img src="img/zl-fm.png">
    </div>
    <ul>
      <li class="list-item">
        <div class="item-content">
          <div class="item-media"><img src="img/list_gray_26.png" width="18"></div>
          <div class="item-inner">
            <div class="item-title color-darkgray">王就是否</div>
          </div>
        </div>
      </li>
      <li class="list-item multi-line">
        <div class="item-content item-link">
          <div class="item-media"><img src="img/dr_blue_90.png" width="25"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">选择医师</div>
            </div>
            <div class="item-text">机构内医师列表</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
