<ion-view title="进销存检查" view-title="进销存检查">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">进销存检查</div>
    <div class="buttons" style="position: absolute;right: 5px;">
      <button class="button button-icon">保存
      </button>
    </div>
  </div>
  <ion-content class="has-header">
    <div class="bg-white jxc-content">
      <div class="jxc-content-title"><span class="jxc-content-title-skuname">安康信 60mg*5片(盒)</span><span class="jxc-content-title-kc">最近库存  <span class="zjkc">1234</span></span></div>
      <div class="jxc-content-bt">
        <ul class="jxc-ul">
          <li>购进</li>
          <li>销量</li>
          <li>库存</li>
        </ul>
      </div>
      <div class="jxc-content-sr">
        <ul class="jxc-ul">
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
        </ul>
      </div>
      <div class="jxc-content-bt">
        <ul class="jxc-ul">
          <li>建议订单</li>
          <li>SKU价格</li>
          <li></li>
        </ul>
      </div>
      <div class="jxc-content-sr">
        <ul class="jxc-ul">
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="bg-white jxc-content">
      <div class="jxc-content-title"><span class="jxc-content-title-skuname">安康信 60mg*5片(盒)</span><span class="jxc-content-title-kc">最近库存  <span class="zjkc">1234</span></span></div>
      <div class="jxc-content-bt">
        <ul class="jxc-ul">
          <li>购进</li>
          <li>销量</li>
          <li>库存</li>
        </ul>
      </div>
      <div class="jxc-content-sr">
        <ul class="jxc-ul">
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
        </ul>
      </div>
      <div class="jxc-content-bt">
        <ul class="jxc-ul">
          <li>建议订单</li>
          <li>SKU价格</li>
          <li></li>
        </ul>
      </div>
      <div class="jxc-content-sr">
        <ul class="jxc-ul">
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="bg-white jxc-content">
      <div class="jxc-content-title"><span class="jxc-content-title-skuname">安康信 60mg*5片(盒)</span><span class="jxc-content-title-kc">最近库存  <span class="zjkc">1234</span></span></div>
      <div class="jxc-content-bt">
        <ul class="jxc-ul">
          <li>购进</li>
          <li>销量</li>
          <li>库存</li>
        </ul>
      </div>
      <div class="jxc-content-sr">
        <ul class="jxc-ul">
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
        </ul>
      </div>
      <div class="jxc-content-bt">
        <ul class="jxc-ul">
          <li>建议订单</li>
          <li>SKU价格</li>
          <li></li>
        </ul>
      </div>
      <div class="jxc-content-sr">
        <ul class="jxc-ul">
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
          <li></li>
        </ul>
      </div>
    </div>
    <!--CCR角色进入的时候的页面-->
    <div class="bg-white jxc-content">
      <div class="jxc-content-title"><span class="jxc-content-title-skuname">安康信 60mg*5片(盒)</span><span class="jxc-content-title-kc">最近库存  <span class="zjkc">1234</span></span></div>
      <div class="jxc-content-bt">
        <ul class="jxc-ul">
          <li>购进</li>
          <li>销量</li>
          <li>库存</li>
        </ul>
      </div>
      <div class="jxc-content-sr">
        <ul class="jxc-ul">
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
        </ul>
      </div>
      <div class="jxc-content-bt">
        <ul class="jxc-ul">
          <li>建议订单</li>
          <li>SKU价格</li>
          <li>排位面</li>
        </ul>
      </div>
      <div class="jxc-content-sr">
        <ul class="jxc-ul">
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
        </ul>
      </div>
    </div>
    <div class="bg-white jxc-content">
      <div class="jxc-content-title"><span class="jxc-content-title-skuname">安康信 60mg*5片(盒)</span><span class="jxc-content-title-kc">最近库存  <span class="zjkc">1234</span></span></div>
      <div class="jxc-content-bt">
        <ul class="jxc-ul">
          <li>购进</li>
          <li>销量</li>
          <li>库存</li>
        </ul>
      </div>
      <div class="jxc-content-sr">
        <ul class="jxc-ul">
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
        </ul>
      </div>
      <div class="jxc-content-bt">
        <ul class="jxc-ul">
          <li>建议订单</li>
          <li>SKU价格</li>
          <li>排位面</li>
        </ul>
      </div>
      <div class="jxc-content-sr">
        <ul class="jxc-ul">
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
        </ul>
      </div>
    </div>
    <div class="bg-white jxc-content">
      <div class="jxc-content-title"><span class="jxc-content-title-skuname">安康信 60mg*5片(盒)</span><span class="jxc-content-title-kc">最近库存  <span class="zjkc">1234</span></span></div>
      <div class="jxc-content-bt">
        <ul class="jxc-ul">
          <li>购进</li>
          <li>销量</li>
          <li>库存</li>
        </ul>
      </div>
      <div class="jxc-content-sr">
        <ul class="jxc-ul">
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
        </ul>
      </div>
      <div class="jxc-content-bt">
        <ul class="jxc-ul">
          <li>建议订单</li>
          <li>SKU价格</li>
          <li>排位面</li>
        </ul>
      </div>
      <div class="jxc-content-sr">
        <ul class="jxc-ul">
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
          <li><input type="text" placeholder="0"></li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
