<!--生动化教育-->
<div class="height-100">
  <div class="bar bar-header bar-light">
    <button class="button button-clear button-positive" ng-click="closeVitality()">取消</button>
    <div class="h1 title">生动化教育-对象</div>
    <button class="button button-clear button-positive">确认</button>
  </div>
  <div class="padding-top44">
    <div class="align-center padding margin-img font-13">
      <img src="img/route_green_44.png" width="18"> 机构内的医师(5)
    </div>
    <ul>
      <li class="list-item">
        <div class="item-content">
          <div class="item-media"><img src="img/slt-doct.png" width="20"></div>
          <div class="item-inner">
            <div class="item-title">王就是否</div>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="item-content">
          <div class="item-media"><img src="img/slt-doct.png" width="20"></div>
          <div class="item-inner">
            <div class="item-title">王就是否</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
