<ion-view title="疾病知识教育" view-title="疾病知识教育">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">关闭</span>
    </button>
    <div class="h1 title">生动化教育-张惠妹</div>
    <!--<div class="buttons" style="position: absolute;right: 5px;">
      <button class="button button-icon">保存
      </button>
    </div>-->
  </div>
  <ion-content class="has-header">

  </ion-content>
</ion-view>

