<ion-view title="签出" view-title="签出">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">签出</div>
  </div>
  <ion-content class="has-header">
    <div id="checkoutmapcontainer" class="amap-container">
    </div>
    <div class="checkout-content">
      <div>
        <ul>
          <li class="list-item multi-line ">
            <div class="item-content align-top">
              <div class="item-media"><span class="uicon uicon-markerA"></span></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">国药控股大药房永新连锁店(A)</div>
                </div>
                <div class="item-text">上海市石泉路548号</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="content-block-title">签到信息</div>
      <div>
        <ul style="">
          <li class="list-item">
            <div class="item-content">
              <div class="item-media"><img src="img/done-signin-icon.png" width="17"></div>
              <div class="item-inner">
                <div class="item-title color-green">签入：09:32:30</div>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class="item-content">
              <div class="item-media"><img src="img/not-signin-icon.png" width="17"></div>
              <div class="item-inner">
                <div class="item-title">尚未签出</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <div class="content-block-title">签到照片</div>
        <div class="tiled-block padding-1015 bg-white">
          <div class="width-25 flex-center">
            <img src="img/upload-photo.png">
          </div>
        </div>
      </div>
      <div id="btnCheck_GPS">
        <a ui-sref="main.aecallguide" class="button checkintodo-r">GPS签出</a>
      </div>
      <div id="btnCheck_Manual">
        <a ui-sref="main.aecallguide" class="button  checkintodo-g">手动签出</a>
      </div>
    </div>
  </ion-content>
</ion-view>

