<ion-view title="疾病知识教育" view-title="疾病知识教育">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">疾病知识教育</div>
  </div>
  <div class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="输入关键字搜索资料">
    </label>
    <button class="button button-clear" ng-click="cannel()">
      取消
    </button>
  </div>
  <ion-content class="has-header has-subheader disease-knowledge">
    <div class="recommend-content ">
      <div class="height-100 bg-white">
        <div class="padding" style="padding-bottom: 0;">
          <p class="stick-left padding-left">推荐教育资料</p>
        </div>
        <div class="recommend-list">
          <ul>
            <li class="list-item multi-line">
              <div class="item-content align-top">
                <div class="item-media"><img src="img/tjzl-1.png"></div>
                <div class="item-inner">
                  <!--点标题直接播放，是给自己看的-->
                  <div class="item-title-row">
                    <div class="item-title">文案标题</div>
                  </div>
                  <div class="item-text">发布时间：2017-03-30 <span class="space-10"></span>格式：PPT</div>
                  <div class="item-text">产品：安康信</div>
                  <!--生动化教育连连看给别人看，先弹选择医师列表-->
                  <div class="item-text margin-top5"><button class="button" ng-click="showVitality()">生动化教育</button></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="all-zl-info ">
      <div class="height-100 bg-white">
        <div class="padding" style="padding-bottom: 0;">
          <p class="stick-left padding-left">全部资料</p>
        </div>
        <div class="info-classify">
          <ul>
            <li ng-repeat="item in tabs" ng-click="SwitchTab(item)" ng-class="{'active':currTab==item}" ng-bind="item.name"></li>
          </ul>
        </div>
        <div class="all-list" ng-show="currTab.code=='byprod'">
          <ul>
            <!--是给别人看的，要选医师-->
            <li class="list-item item-link" ui-sref="main.materialdetail">
              <div class="item-content">
                <div class="item-media"><img src="img/exercise_cube_50.png" width="26"></div>
                <div class="item-inner flex-between">
                  <div>
                    <div class="item-title-row">
                      <div class="item-title">安康信</div>
                    </div>
                    <div class="item-text">60mg*5片(盒)</div>
                  </div>
                  <div class="align-center margin-img font-8">
                    <img src="img/pdf_red_36.png" width="20">文件：<span class="color-red">9</span>
                    <span class="space-10"></span>
                    <img src="img/vedio_blue_36.png" width="20">视频：<span class="color-red">9</span>
                    <span class="uicon fake-link"></span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="all-list" ng-show="currTab.code=='byuse'">
          <ul>
            <li class="list-item item-link" ui-sref="main.materialdetail">
              <div class="item-content">
                <div class="item-media"><img src="img/exercise_cube_50.png" width="26"></div>
                <div class="item-inner flex-between">
                  <div>
                    <div class="item-title-row">
                      <div class="item-title">科索亚</div>
                    </div>
                    <div class="item-text">60mg*5片(盒)</div>
                  </div>
                  <div class="align-center margin-img font-8">
                    <img src="img/pdf_red_36.png" width="20">文件：<span class="color-red">9</span>
                    <span class="space-10"></span>
                    <img src="img/vedio_blue_36.png" width="20">视频：<span class="color-red">9</span>
                    <span class="uicon fake-link"></span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

