<ion-view title="进销存检查" view-title="进销存检查">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style="">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="">返回</span>
    </button>
    <div class="h1 title">进销存检查</div>
    <div class="buttons" style="position: absolute;right: 5px;">
      <button class="button button-icon button-clear" ng-click="SaveInventory()">保存</button>
    </div>
  </div>
  <ion-content class="has-header bg-white">
    <!--CCR角色进入的时候的页面-->
    <ul class="padding-bottom">
      <li class="jxc-content" ng-repeat="item in SKUList">
        <div class="padding-1015 flex-between"><div class="" ng-bind="item.Name"></div><div><span class="">最近库存  <span class="color-blue" ng-bind="item.Inventory">1234</span></span></div></div>
        <div class="jxc-content-bt">
          <ul class="jxc-ul">
            <li>购进</li>
            <li>销量</li>
            <li>库存</li>
          </ul>
        </div>
        <div class="jxc-content-sr">
          <ul class="jxc-ul">
            <li><input type="number" placeholder="0" ng-model="item.SaleIn"></li>
            <li><input type="number" placeholder="0" ng-model="item.SaleOut"></li>
            <li><input type="number" placeholder="0" ng-model="item.Stock"></li>
          </ul>
        </div>
        <div class="jxc-content-bt">
          <ul class="jxc-ul">
            <li>建议订单</li>
            <li>SKU价格</li>
            <li>排位面</li>
          </ul>
        </div>
        <div class="jxc-content-sr">
          <ul class="jxc-ul">
            <li><input type="number" placeholder="0" ng-model="item.ProposalOrder"></li>
            <li><input type="number" placeholder="0" ng-model="item.SKUPrice"></li>
            <li><input type="number" placeholder="0" ng-model="item.PositionCount"></li>
          </ul>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
