<!--AE的拜访流程-->
<ion-view title="附近药店" view-title="附近药店">
  <div class="bar bar-header bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button hide buttons button-clear header-item" style="">
      <i class="icon ion-android-arrow-back"></i>
      <span class="back-text" style=""></span>
    </button>
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <div class="h1 title">附近药店</div>
    <button class="button button-icon" ng-click="searchstore()">
      <img src="img/search-icon.png" width="25" style="padding-top: 6px;">
    </button>
  </div>
  <ion-content class="has-header call-guide" scroll="false">
    <!--地图-->
    <div id="storenearbymap" style="width:100%;height:100%;position:absolute;z-index:0;"></div>

    <!--搜索机构弹出框-->
    <div class="route-action-block top-50" ng-show="searchmodal">
      <div class="route-action">
        <div class="route-action-bar">
          <button class="button button-clear button-positive button-thin" ng-click="closesearchstorediv()">取消</button>
          <input type="text" ng-model="searchmodel.Value" placeholder="请输入机构名称关键字" maxlength="20"
                 class="route-name-input wide"/>
          <button class="button button-clear button-positive button-thin" ng-click="searchstorebykeyword()">搜索</button>
        </div>
        <ion-scroll class="window-list" ng-show="searchresult.length>0">
          <ion-list>
            <ion-item ng-repeat="item in searchresult" ng-click="openinsinfo(item)">
              <h1 class="item-title">{{item.InstitutionName}} ({{item.InstitutionPriority}})</h1>
              <p class="item-text">{{item.Address}}</p>
            </ion-item>
          </ion-list>
        </ion-scroll>
        <div class="bg-white text-center" ng-show="searchresult.length>0">搜索到{{searchresult.length}}家机构</div>
      </div>
    </div>
    <!--<div class="callguide-searchstorediv">-->
      <!--<div class="bg-white" style="height:52px;line-height:68px;">-->
        <!--<div class="callguide-searchstorediv-closebtn-div"><span class="callguide-searchstorediv-closebtn" ng-click="closesearchstorediv()">取消</span></div>-->
        <!--<input type="text" id="KeyWordOfStoreName" style="position:absolute;width:60%;height:32px;top:10px;left: 18%;border-radius:8px;outline:none;border:1px solid lightgrey;text-align:center;padding:0;" placeholder="请输入店名称关键字" />-->
        <!--<button class="callguide-searchstorediv-searchbtn btn btn-success" id="search-store-btn" ng-click="searchstorebykeyword()">搜索</button>-->
      <!--</div>-->
      <!--<div class="linestorearea bg-white">-->
        <!--<ion-list>-->
          <!--<ion-item ng-repeat="item in items" item="item" class="item-remove-animate" style="position: relative;">-->
            <!--<span>{{item.name}}</span><br>-->
            <!--<span style="font-size: 13px;color: darkgray;">{{item.address}}</span>-->
          <!--</ion-item>-->
        <!--</ion-list>-->
      <!--</div>-->
    <!--</div>-->
  </ion-content>
  <!--底部上滑-->
  <div class="footer-block" ng-class="{'visible':isExpand}">
    <div class="toggle-bar flex-center" ng-click="NearbyFooter()"><img src="img/arrow_down_16.png" alt="15"></div>
    <div class="flex-around tab-title">
      <div class="flex-center" ng-repeat="item in tabs">
        <div class="tab-button" ng-class="{'active':currentTab==item}"
             ng-click="switchTab(item)">
          {{item.title}}
        </div>
      </div>
    </div>
    <!--今日行程tab-->
    <ul class="dragup-ul" ng-show="currentTab.name=='todaysch'">
      <li class="list-item multi-line ">
        <div class="item-content align-top">
          <div class="item-media"><span class="uicon uicon-markerA"></span></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">国药控股大药房永新连锁店(A)</div>
            </div>
            <div class="item-text">上海市石泉路548号</div>
            <div class="flex-between align-end font-13">
              <div class="color-green">首次签入&nbsp;10:21:21</div>
              <div class="color-green">末次签出&nbsp;10:21:21</div>
              <div class="flex-end">
                <a class="button button-clear button-stable button-small flex-center icon-button margin-img"><img src="img/search_gray_30.png" width="18">查看</a></div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-item multi-line ">
        <div class="item-content align-top">
          <div class="item-media"><span class="uicon uicon-markerA"></span></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">国药控股大药房永新连锁店(A)</div>
            </div>
            <div class="item-text">上海市石泉路548号</div>
            <div class="flex-between align-end font-13">
              <div class="color-green">首次签入&nbsp;10:21:21</div>
              <div class="color-red">尚未签出</div>
              <div class="flex-end">
                <a class="button button-clear button-stable button-small flex-center icon-button margin-img"><img src="img/search_gray_30.png" width="18">查看</a></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!--下游门店tab-->
    <ul class="dragup-ul" ng-show="currentTab.name=='chainstore'">
      <li class="list-item multi-line" ui-sref="main.checkin">
        <div class="item-content align-top">
          <div class="item-media"><span class="uicon uicon-markerA"></span></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">国药控股大药房永新连锁店(A)</div>
            </div>
            <div class="flex-row align-end">
              <div class="col-66 color-gray">上海市石泉路548号</div>
              <div class="col-33 flex-end">
                <a class="button button-clear button-small flex-center color-blue icon-button margin-img"><img src="img/entrance_blue_30.png" width="18">拜访</a></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ion-view>
