<ion-view>
  <ion-header-bar class="bar-positive">
    <button ng-click="$ionicGoBack()" class="button back-button hide buttons button-clear header-item">
      <i class="icon ion-android-arrow-back"></i>
      <span class="back-text" style=""></span></button>
    <div class="buttons buttons-left header-item" style=""><span class="left-buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </span>
    </div>
    <div class="storenearby-nav-title">附近药店</div>
    <div class="buttons" style="padding-top:3px;position: absolute;right: 5px;">
      <button class="button button-icon" ng-click="searchstore()"><img src="img/search-icon.png" style="width: 32px;">
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <!--地图-->
    <div id="storenearbymap" style="width:100%;height:100%;position:absolute;z-index:0;"></div>
    <!--上拉菜单-->
    <div class="drag-up-div">
      <div id="xd_ts_button" ng-click="toggledragup()"><img src="img/dragbtn-icon.png"/></div>
      <ul class="xd_ul">
        <li style="position:relative;" class="xd-li-1 xd_ul-li-active" ng-click="shownearbystore()">附近药店<span class="xd-span-1 xd_ul-span-active"></span></li>
        <li style="position:relative;" class="xd-li-2" ng-click="showtodayroute()">今日行程<span class="xd-span-2"></span></li>
        <li style="position:relative;" class="xd-li-3" ng-click="showareastore()">辖区门店<span class="xd-span-3"></span></li>
      </ul>
      <div id="xccontent" class="bg-white">
        <div id="xd_tab_1" style="height:280px;">
          <ul class="list-block xd-dragup-ul">
            <!--第一个li元素上的css基本都写到css文件里去了，下面的li上的样式没有移，下面的li到时候都可以删掉，可以拿第一个做模板，循环遍历-->
            <li style="padding-top:5px;height:75px;position:relative;">
              <img src="img/GradeA-icon.png" style="width:23px;height:26px;position: absolute;top: 11px;left: 5px;"/>
              <div style="width: 90%;position:absolute;right: 0;top: 10px;height: 65px;border-bottom: 1px solid lightgrey;">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div style="padding-top: 10px;"><span style="color:darkgrey;font-size:13px;">上海市石泉路548号</span></div>
                <div style="position:absolute;right:28px;top:34px;"><img class="entrance-img" src="img/entrance_blue_30.png" /><a href="#" style="color:#3d86e0;margin-left: 5px;">拜访</a></div>
              </div>
            </li>
            <li style="padding-top:5px;height:75px;position:relative;">
              <img src="img/GradeA-icon.png" style="width:23px;height:26px;position: absolute;top: 11px;left: 5px;"/>
              <div style="width: 90%;position:absolute;right: 0;top: 10px;height: 65px;border-bottom: 1px solid lightgrey;">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div style="padding-top: 10px;"><span style="color:darkgrey;font-size:13px;">上海市石泉路548号</span></div>
                <div style="position:absolute;right:28px;top:34px;"><img class="entrance-img" src="img/entrance_blue_30.png" /><a href="#" style="color:#3d86e0;margin-left: 5px;">拜访</a></div>
              </div>
            </li>
            <li style="padding-top:5px;height:75px;position:relative;">
              <img src="img/GradeA-icon.png" style="width:23px;height:26px;position: absolute;top: 11px;left: 5px;"/>
              <div style="width: 90%;position:absolute;right: 0;top: 10px;height: 65px;border-bottom: 1px solid lightgrey;">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div style="padding-top: 10px;"><span style="color:darkgrey;font-size:13px;">上海市石泉路548号</span></div>
                <div style="position:absolute;right:28px;top:34px;"><img class="entrance-img" src="img/entrance_blue_30.png" /><a href="#" style="color:#3d86e0;margin-left: 5px;">拜访</a></div>
              </div>
            </li>
            <li style="padding-top:5px;height:75px;position:relative;">
              <img src="img/GradeA-icon.png" style="width:23px;height:26px;position: absolute;top: 11px;left: 5px;"/>
              <div style="width: 90%;position:absolute;right: 0;top: 10px;height: 65px;border-bottom: 1px solid lightgrey;">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div style="padding-top: 10px;"><span style="color:darkgrey;font-size:13px;">上海市石泉路548号</span></div>
                <div style="position:absolute;right:28px;top:34px;"><img class="entrance-img" src="img/entrance_blue_30.png" /><a href="#" style="color:#3d86e0;margin-left: 5px;">拜访</a></div>
              </div>
            </li>
            <li style="padding-top:5px;height:75px;position:relative;">
              <img src="img/GradeA-icon.png" style="width:23px;height:26px;position: absolute;top: 11px;left: 5px;"/>
              <div style="width: 90%;position:absolute;right: 0;top: 10px;height: 65px;border-bottom: 1px solid lightgrey;">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div style="padding-top: 10px;"><span style="color:darkgrey;font-size:13px;">上海市石泉路548号</span></div>
                <div style="position:absolute;right:28px;top:34px;"><img class="entrance-img" src="img/entrance_blue_30.png" /><a href="#" style="color:#3d86e0;margin-left: 5px;">拜访</a></div>
              </div>
            </li>
          </ul>
        </div>
        <div id="xd_tab_2" style="display:none;height:280px;">
          <ul class="list-block xd-dragup-ul">
            <li class="xd-dragup-ul-li">
              <img class="xd-dragup-ul-li-gradeimg" src="img/GradeA-icon.png"/>
              <div class="xd-dragup-ul-li-checkininfo-div">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div class="xd-dragup-ul-li-checkininfo-address" style="padding-top: 5px;"><span>上海市石泉路548号</span></div>
                <div class="xd-dragup-ul-li-checkininfo-time"><span style="color:#3AC5A6;">签入时间: 09:12:13 &nbsp;&nbsp;签出时间: 10:12:13</span><span class="xd-dragup-ul-li-checkininfo-time-chakan"><img src="img/search_gray_30.png" style="width: 16px;"><span style="margin-left: 5px;">查看</span></span></div>
              </div>
            </li>
            <li style="padding-top:5px;height:95px;position:relative;">
              <img src="img/GradeA-icon.png" style="width:23px;height:26px;position: absolute;top: 11px;left: 5px;"/>
              <div style="width: 90%;position:absolute;right: 0;top: 10px;height: 80px;border-bottom: 1px solid lightgrey;">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div style="padding-top: 5px;"><span style="color:darkgrey;font-size:13px;">上海市石泉路548号</span></div>
                <div style="padding-top: 5px;position: relative"><span style="color:#3AC5A6;">签入时间: 09:12:13 &nbsp;&nbsp;签出时间: 10:12:13</span><span style="color:#c9c9c9;font-size: 12px;position: absolute;right: 18px;"><img src="img/search_gray_30.png" style="width: 16px;"><span style="margin-left: 5px;">查看</span></span></div>
              </div>
            </li>
            <li style="padding-top:5px;height:95px;position:relative;">
              <img src="img/GradeA-icon.png" style="width:23px;height:26px;position: absolute;top: 11px;left: 5px;"/>
              <div style="width: 90%;position:absolute;right: 0;top: 10px;height: 80px;border-bottom: 1px solid lightgrey;">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div style="padding-top: 5px;"><span style="color:darkgrey;font-size:13px;">上海市石泉路548号</span></div>
                <div style="padding-top: 5px;position: relative"><span style="color:#3AC5A6;">签入时间: 09:12:13 &nbsp;&nbsp;签出时间: 10:12:13</span><span style="color:#c9c9c9;font-size: 12px;position: absolute;right: 18px;"><img src="img/search_gray_30.png" style="width: 16px;"><span style="margin-left: 5px;">查看</span></span></div>
              </div>
            </li>
            <li style="padding-top:5px;height:95px;position:relative;">
              <img src="img/GradeA-icon.png" style="width:23px;height:26px;position: absolute;top: 11px;left: 5px;"/>
              <div style="width: 90%;position:absolute;right: 0;top: 10px;height: 80px;border-bottom: 1px solid lightgrey;">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div style="padding-top: 5px;"><span style="color:darkgrey;font-size:13px;">上海市石泉路548号</span></div>
                <div style="padding-top: 5px;position: relative"><span style="color:#3AC5A6;">签入时间: 09:12:13 &nbsp;&nbsp;签出时间: 10:12:13</span><span style="color:#c9c9c9;font-size: 12px;position: absolute;right: 18px;"><img src="img/search_gray_30.png" style="width: 16px;"><span style="margin-left: 5px;">查看</span></span></div>
              </div>
            </li>
            <li style="padding-top:5px;height:95px;position:relative;">
              <img src="img/GradeA-icon.png" style="width:23px;height:26px;position: absolute;top: 11px;left: 5px;"/>
              <div style="width: 90%;position:absolute;right: 0;top: 10px;height: 80px;border-bottom: 1px solid lightgrey;">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div style="padding-top: 5px;"><span style="color:darkgrey;font-size:13px;">上海市石泉路548号</span></div>
                <div style="padding-top: 5px;position: relative"><span style="color:#3AC5A6;">签入时间: 09:12:13 &nbsp;&nbsp;签出时间: 10:12:13</span><span style="color:#c9c9c9;font-size: 12px;position: absolute;right: 18px;"><img src="img/search_gray_30.png" style="width: 16px;"><span style="margin-left: 5px;">查看</span></span></div>
              </div>
            </li>
          </ul>
        </div>
        <div id="xd_tab_3" style="display:none;height:280px;">
          <ul class="list-block xd-dragup-ul">
            <li style="padding-top:5px;height:75px;position:relative;">
              <img src="img/GradeA-icon.png" style="width:23px;height:26px;position: absolute;top: 11px;left: 5px;"/>
              <div style="width: 90%;position:absolute;right: 0;top: 10px;height: 65px;border-bottom: 1px solid lightgrey;">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div style="padding-top: 10px;"><span style="color:darkgrey;font-size:13px;">上海市石泉路548号</span></div>
                <div style="position:absolute;right:28px;top:34px;"><img class="entrance-img" src="img/entrance_blue_30.png" /><a href="#" style="color:#3d86e0;margin-left: 5px;">拜访</a></div>
              </div>
            </li>
            <li style="padding-top:5px;height:75px;position:relative;">
              <img src="img/GradeA-icon.png" style="width:23px;height:26px;position: absolute;top: 11px;left: 5px;"/>
              <div style="width: 90%;position:absolute;right: 0;top: 10px;height: 65px;border-bottom: 1px solid lightgrey;">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div style="padding-top: 10px;"><span style="color:darkgrey;font-size:13px;">上海市石泉路548号</span></div>
                <div style="position:absolute;right:28px;top:34px;"><img class="entrance-img" src="img/entrance_blue_30.png" /><a href="#" style="color:#3d86e0;margin-left: 5px;">拜访</a></div>
              </div>
            </li>
            <li style="padding-top:5px;height:75px;position:relative;">
              <img src="img/GradeA-icon.png" style="width:23px;height:26px;position: absolute;top: 11px;left: 5px;"/>
              <div style="width: 90%;position:absolute;right: 0;top: 10px;height: 65px;border-bottom: 1px solid lightgrey;">
                <div><span style="font-size:15px;color:black;">国药控股大药房永新连锁店</span></div>
                <div style="padding-top: 10px;"><span style="color:darkgrey;font-size:13px;">上海市石泉路548号</span></div>
                <div style="position:absolute;right:28px;top:34px;"><img class="entrance-img" src="img/entrance_blue_30.png" /><a href="#" style="color:#3d86e0;margin-left: 5px;">拜访</a></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--搜索机构弹出框-->
    <div class="callguide-searchstorediv">
      <div class="bg-white" style="height:52px;line-height:68px;">
        <div class="callguide-searchstorediv-closebtn-div"><span class="callguide-searchstorediv-closebtn" ng-click="closesearchstorediv()">取消</span></div>
        <input type="text" id="KeyWordOfStoreName" style="position:absolute;width:60%;height:32px;top:10px;left: 18%;border-radius:8px;outline:none;border:1px solid lightgrey;text-align:center;padding:0;" placeholder="请输入店名称关键字" />
        <button class="callguide-searchstorediv-searchbtn btn btn-success" id="search-store-btn" ng-click="searchstorebykeyword()">搜索</button>
      </div>
      <div class="linestorearea bg-white">
        <ion-list>
          <ion-item ng-repeat="item in items" item="item" class="item-remove-animate" style="position: relative;">
            <span>{{item.name}}</span><br>
            <span style="font-size: 13px;color: darkgray;">{{item.address}}</span>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
