/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
.map-container{
  height: 100%;
  width: 100%;
}
.disabled{
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.item-login .button{
  border:none;
  border-radius:50px;
}
.flex-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-end{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.button.button-light {
  border-color: #ccc;
}
.margintb-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.paddingtb-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddinglr-20{
  padding-left: 20px;
  padding-right: 20px;
}
.sidemenu-banner {
  height: 120px;
  width: 100%;
}

.sidemenu-banner img {
  height: 100%;
  width: 100%;
}
/*---------------------------------------------*/
/*------------multi-line list style------------*/
/*---------------------------------------------*/
.list-item {
  box-sizing: border-box;
  position: relative;
}

ul {
  background: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.list-item .item-link {
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  display: block;
  color: inherit;
}

.list-item .item-link .item-inner {
  padding-right: 35px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23dedede'%2F%3E%3C%2Fsvg%3E");
  background-size: 10px 20px;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-position: -webkit-calc(100% - 15px) center;
  background-position: calc(100% - 15px) center;
}

.list-item.multi-line .item-link .item-title-row {
  padding-right: 20px;
  background: no-repeat right center;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23dedede'%2F%3E%3C%2Fsvg%3E");
  background-size: 10px 20px;
}

.list-item .item-content {
  box-sizing: border-box;
  padding-left: 15px;
  min-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.list-item .item-media + .item-inner {
  margin-left: 15px;
}
.list-item .item-inner {
  padding-right: 15px;
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 7px;
  min-height: 44px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  overflow: hidden;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

.list-item.multi-line .item-inner {
  background: 0 0;
  padding-right: 15px;
  display: block;
  padding-top: 10px;
  padding-bottom: 9px;
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

.list-item:not(:last-child) .item-inner:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.list-item.no-line .item-inner:after{
  height: 0;
}
.list-item.multi-line .item-title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.list-item .item-after {
  white-space: nowrap;
  color: #8e8e93;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-height: 28px;
}
.list-item .item-title {
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;
  min-width: 0;
  position: relative;
  max-width: 100%;
}

.list-item .item-text {
  font-size: 13px;
  color: #8e8e93;
  position: relative;
  min-height: 20px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 18px;
  margin-top: 2px;
}

.list-item .item-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 8px;
}

.list-item.multi-line .item-media {
  padding-top: 9px;
  padding-bottom: 10px;
}

.list-item.multi-line .item-media img {
  display: block;
}

.stick-highlight {
  position: relative;
  color: #007aff;
  background-color: #f7fafc;
}

.stick-highlight:after {
  content: '';
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  height: 100%;
  width: 3px;
  background-color: #007aff;
  display: block;
}
.item-content.align-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.overflow-scroll > .scroll{
  background-color: #f5f7fa;
}
.overflow-scroll.sidemenu-content > .scroll{
  background-color: #fff;
}
.bottom-item{
  position: absolute;
  bottom: 80px;
  width: 100%;
}
.uicon{
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content-block + .content-block{
  margin-top: 10px;
}
.dense-list .list-item .item-content{
  min-height: 32px;
}
.dense-list .list-item .item-inner{
  padding-bottom: 0;
  padding-top: 0;
  min-height: 32px;
}
.row.graphic-row{
  padding: 0;
}
[class*=graphic-block]{
  padding: 0 0 10px 0;
}
[class*=graphic-block]>.graphic-block{
  background-color: #fff;
  width: 100%;
  border-radius: 2px;
  text-align: center;
}
.graphic-block1{
  padding-right: 2px;
}
.graphic-block2{
  padding-left: 2px;
}
.graphic-block +.img-block{

}
.img-block +.img-block{
color: #dddddd;
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.flex-row > [class*=col-] {
  box-sizing: border-box;
}

.flex-row .col-10 {
  width: 10%;
  width: -webkit-calc((100% - 15px*9)/ 10);
  width: calc((100% - 15px*9)/ 10);
}

.flex-row .col-20 {
  width: 20%;
  width: -webkit-calc((100% - 15px*4)/ 5);
  width: calc((100% - 15px*4)/ 5);
}

.flex-row .col-30 {
  width: 30%;
  width: -webkit-calc((100% - 15px*2.3333333333333335)/ 3.3333333333333335);
  width: calc((100% - 15px*2.3333333333333335)/ 3.3333333333333335);
}

.flex-row .col-33 {
  width: 33.333333333333336%;
  width: -webkit-calc((100% - 15px*2)/ 3);
  width: calc((100% - 15px*2)/ 3);
}

.flex-row .col-40 {
  width: 40%;
  width: -webkit-calc((100% - 15px*1.5)/ 2.5);
  width: calc((100% - 15px*1.5)/ 2.5);
}

.flex-row .col-50 {
  width: 50%;
  width: -webkit-calc((100% - 15px*1)/ 2);
  width: calc((100% - 15px*1)/ 2);
}

.flex-row .col-60 {
  width: 60%;
  width: -webkit-calc((100% - 15px*.6666666666666667)/ 1.6666666666666667);
  width: calc((100% - 15px*.6666666666666667)/ 1.6666666666666667);
}

.flex-row .col-70 {
  width: 70%;
  width: -webkit-calc((100% - 15px*.4285714285714286)/ 1.4285714285714286);
  width: calc((100% - 15px*.4285714285714286)/ 1.4285714285714286);
}

.flex-row .col-80 {
  width: 80%;
  width: -webkit-calc((100% - 15px*.25)/ 1.25);
  width: calc((100% - 15px*.25)/ 1.25);
}

.flex-row .col-90 {
  width: 90%;
  width: -webkit-calc((100% - 15px*.11111111111111116)/ 1.1111111111111112);
  width: calc((100% - 15px*.11111111111111116)/ 1.1111111111111112);
}

.flex-row .col-100 {
  width: 100%;
}
