/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
body, .ionic-body {
  color: #4e4e4e;
}
.bar .button.button-clear{
  font-size: 13px;
}

.disabled, [disabled] {
  opacity: .55;
  pointer-events: none;
}
.bar .title, .bar-positive .button.button-clear {
  font-size: 15px;
}

.gesture-modal {
  z-index: 999;
}

.bar.bar-positive {
  background-color: #419de7;
  border-color: #4c83e0;
  background-image: linear-gradient(0deg, #4687f5, #4687f5 50%, transparent 50%);
}

.bar.bar-stable {
  border-color: #f1f1f1;
  background-image: linear-gradient(0deg, #e8e8e8, #e8e8e8 50%, transparent 50%);
}

.bar.bar-stable .item-input-wrapper {
  background: #fff;
}

.list-item .button-small {
  line-height: 19px;
  min-height: 21px;
}

.button-small.round {
  border-radius: 50px;
  border: none;
  padding: 0 10px;
}

.button.button-balanced {
  background-color: #27d383;
}

.button.button-positive {
  background-color: #419de7;
}

::-webkit-scrollbar {
  height: 1px !important;
  width: 0px !important;
}

.bg-white {
  background-color: #ffffff;
  width: 100%;
}

.cipherinfo {
  height: 100%;
}

.cipherinfo .scroll {
  height: 100%;
}

.cipherinfo h4 {
  line-height: 50px;
}

.cipherinfo .tips {
  color: #72ace6;
}

.map-container {
  height: 100%;
  width: 100%;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.item-login .button {
  border: none;
  border-radius: 50px;
}

.align-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.align-center, .flex-row.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-row.align-end,
.align-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-between, .schedule-week-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.button.button-light {
  border-color: #ccc;
}

.margintb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.paddingtb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.paddinglr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.sidemenu-banner {
  height: 120px;
  width: 100%;
}

.sidemenu-banner img {
  height: 100%;
  width: 100%;
}

/*---------------------------------------------*/
/*------------multi-line list style------------*/
/*---------------------------------------------*/
.content-block-title {
  position: relative;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;
  color: #919192;
  margin: 15px 15px 10px;
}

.list-item {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
}

ul {
  background: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.list-item .item-link {
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  display: block;
  color: inherit;
}

.list-item .item-link .item-inner {
  padding-right: 35px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23dedede'%2F%3E%3C%2Fsvg%3E");
  background-size: 10px 20px;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-position: -webkit-calc(100% - 15px) center;
  background-position: calc(100% - 15px) center;
}

.list-item.multi-line .item-link .item-title-row {
  padding-right: 20px;
  background: no-repeat right center;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23dedede'%2F%3E%3C%2Fsvg%3E");
  background-size: 10px 20px;
}

.list-item .item-content {
  box-sizing: border-box;
  padding-left: 15px;
  min-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.list-item .item-media + .item-inner {
  margin-left: 15px;
}

.list-item .item-inner {
  padding-right: 15px;
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 7px;
  min-height: 44px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  overflow: hidden;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

.list-item.multi-line .item-inner {
  background: 0 0;
  padding-right: 15px;
  display: block;
  padding-top: 10px;
  padding-bottom: 9px;
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

.list-item:not(:last-child) .item-inner:after, .list-item.has-line .item-inner:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #e4e4e4;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.list-item.no-line .item-inner:after {
  height: 0;
}

.list-item.multi-line .item-title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.list-item .item-after {
  white-space: nowrap;
  color: #8e8e93;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-height: 28px;
}

.list-count {
  color: #b5b5b5;
  margin-top: 5px;
  width: 10px;
  text-align: center;
}

.list-item .item-title {
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;
  min-width: 0;
  position: relative;
  max-width: 100%;
  white-space: normal;
}

.list-item .item-title.label {
  width: 35%;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
}

.list-item .item-title.label-narrow {
  width: 25%;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
}

.list-item .item-input {
  width: 100%;
  margin-top: -8px;
  margin-bottom: -7px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;
}

.list-item .item-title img {
  margin-right: 5px;
}

.list-item .item-title.ellipsis {
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;
  min-width: 0;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.list-item .item-text {
  font-size: 12px;
  color: #b5b5b5;
  position: relative;
  min-height: 20px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 18px;
  /*margin-top: 2px;*/
}

.list-item .item-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 8px;
}

.list-item.multi-line .item-media {
  padding-top: 9px;
  padding-bottom: 10px;
}

.list-item.multi-line .item-media img {
  display: block;
}

.list-item.multi-line .align-top .item-media {
  padding-top: 13px;
}

.stick-highlight {
  position: relative;
  color: #419de7;
  background-color: #f7fafc;
}

.stick-highlight:after {
  content: '';
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  height: 100%;
  width: 3px;
  background-color: #419de7;
  display: block;
}

.item-content.align-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.pane, .view {
  background-color: #f5f7fa;
}

.overflow-scroll.sidemenu-content > .scroll {
  background-color: #fff;
}

.bottom-item {
  position: relative;
  top: 40px;
  width: 100%;
}

.uicon {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
}

/*.content-block + .content-block{*/
/*margin-top: 10px;*/
/*}*/
.content-block {
  padding-bottom: 5px;
}

.dense-list .list-item .item-content {
  min-height: 32px;
}

.dense-list .list-item .item-inner {
  padding-bottom: 0;
  padding-top: 0;
  min-height: 32px;
}

.row.graphic-row {
  padding: 0;
}

[class*=graphic-block] {
  padding: 0;
}

[class*=graphic-block] > .graphic-block {
  background-color: #fff;
  width: 100%;
  border-radius: 2px;
  text-align: center;
  padding-bottom: 10px;
}

.graphic-block1 {
  padding-right: 1px;
}

.graphic-block2 {
  padding-left: 1px;
}

.graphic-block + .img-block {
  width: 100%;
}

.img-block {
  width: 100%;
}

.img-block img {
  width: 100%;
}

.img-block + .img-block {
  color: #d3ba93;
  font-size: 14px;
  font-weight: 700;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.flex-row > [class*=col-] {
  box-sizing: border-box;
  white-space: normal;
}

.flex-row .col-10 {
  width: 10%;
  width: -webkit-calc((100% - 15px * 9) / 10);
  width: calc((100% - 15px * 9) / 10);
}

.flex-row .col-20 {
  width: 20%;
  width: -webkit-calc((100% - 15px * 4) / 5);
  width: calc((100% - 15px * 4) / 5);
}

.flex-row .col-30 {
  width: 30%;
  width: -webkit-calc((100% - 15px * 2.3333333333333335) / 3.3333333333333335);
  width: calc((100% - 15px * 2.3333333333333335) / 3.3333333333333335);
}

.flex-row .col-33 {
  width: 33.333333333333336%;
  width: -webkit-calc((100% - 15px * 2) / 3);
  width: calc((100% - 15px * 2) / 3);
}

.flex-row .col-40 {
  width: 40%;
  width: -webkit-calc((100% - 15px * 1.5) / 2.5);
  width: calc((100% - 15px * 1.5) / 2.5);
}

.flex-row .col-50 {
  width: 50%;
  width: -webkit-calc((100% - 15px * 1) / 2);
  width: calc((100% - 15px * 1) / 2);
}

.flex-row .col-60 {
  width: 60%;
  width: -webkit-calc((100% - 15px * .6666666666666667) / 1.6666666666666667);
  width: calc((100% - 15px * .6666666666666667) / 1.6666666666666667);
}

.flex-row .col-70 {
  width: 70%;
  width: -webkit-calc((100% - 15px * .4285714285714286) / 1.4285714285714286);
  width: calc((100% - 15px * .4285714285714286) / 1.4285714285714286);
}

.flex-row .col-80 {
  width: 80%;
  width: -webkit-calc((100% - 15px * .25) / 1.25);
  width: calc((100% - 15px * .25) / 1.25);
}

.flex-row .col-90 {
  width: 90%;
  width: -webkit-calc((100% - 15px * .11111111111111116) / 1.1111111111111112);
  width: calc((100% - 15px * .11111111111111116) / 1.1111111111111112);
}

.flex-row .col-100 {
  width: 100%;
}

.uicon-login-password {
  content: url(/img/password_blue_90.png);
  width: 25px;
  height: 22px;
}

.uicon-login-account {
  content: url(/img/account_blue_90.png);
  width: 25px;
  height: 22px;
}

.uicon-list-more {
  content: url(/img/list_blue_32.png);
  width: 20px;
  height: 20px;
}

.progress-track {
  background-color: #f5f7fa;
  height: 8px;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.progress-track .progress {
  background-color: #48d38e;
  height: 8px;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.color-blue {
  color: #419de7 !important;
}

.color-blue {
  color: #419de7 !important;
}

.color-orange {
  color: #efc240 !important;
}

.color-red {
  color: #ef595e !important;
}

.color-green {
  color: #6ed5be !important;
}

.color-gray {
  color: #b5b5b5 !important;
}

.dense-list .item-title {
  font-size: 12px;
}

.home-schedule .button-row {
  padding: 10px 15px 5px;
}

.home-schedule .button-row .button.active {
  background-color: #419de7;
  color: #fff;
}

.button-connect {
  width: 10px;
  height: 5px;
  display: inline-block;
  background-color: #efefef;
  padding-top: 5px;
  margin: 12px 3px 0;
  position: relative;
}

.button-connect:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 22px;
  background-color: #efefef;
  display: block;
  top: calc(50% - 1px);
  left: -6px;
}

.home-schedule {

}

.home-schedule li .item-content {
  padding-left: 20px;
}

.list-dot {
  border-radius: 50%;
  display: block;
}

.home-schedule li.schedule-called .list-dot {
  height: 15px;
  width: 15px;
  border: 1px solid #16b767;
  /*margin-top: 3px;*/
  position: relative;
  background-color: #ffffff;
  z-index: 26;
}

.home-schedule li.schedule-called .list-dot:before {
  content: '';
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background-color: #16b767;
  display: block;
  left: 4px;
  top: 4px;
}

.home-schedule li.schedule-calledout .list-dot {
  height: 15px;
  width: 15px;
  border: 1px solid #f2c221;
  /*margin-top: 3px;*/
  position: relative;
  background-color: #ffffff;
  z-index: 26;
}

.home-schedule li.schedule-calledout .list-dot:before {
  content: '';
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background-color: #f2c221;
  display: block;
  left: 4px;
  top: 4px;
}

.home-schedule li.schedule-plan .list-dot {
  height: 15px;
  width: 15px;
  border: 1px solid #0079da;
  /*margin-top: 3px;*/
  background-color: #ffffff;
  z-index: 26;
}

.home-schedule li.list-item .item-media + .item-inner {
  padding-left: 15px;
  margin-left: -8px;
  z-index: 15;
}

.home-schedule li.list-item .item-media + .item-inner:before {
  z-index: 15;
  content: '';
  position: absolute;
  background-color: #dfdfdf;
  height: 100%;
  width: 1px;
  display: block;
  left: 0;
  top: 0;
}

/*.home-schedule li.schedule-called .item-media + .item-inner:before {*/
/*background-color: #48d38e;*/
/*}*/
/*.home-schedule li.schedule-calledout .item-media + .item-inner:before {*/
/*background-color: #f2c221;*/
/*}*/

/*.home-schedule li.schedule-plan .item-media + .item-inner:before {*/
/*background-color: #50a5e8;*/
/*}*/

.home-schedule li.list-item .item-media + .item-inner:after {
  width: calc(100% - 15px);
  left: 15px;
}

.home-schedule li[class*=schedule-]:first-child .item-media + .item-inner:before {
  top: 16px;
}

.home-schedule li[class*=schedule-]:last-child .item-media + .item-inner:before {
  height: 15px;
}

.table {
  width: 100%;
}

.table tbody {
  width: 100%;
}

.table td {
  padding: 3px;
  text-align: center;
}

.table td.title-td {
  max-width: 105px;
  min-width: 105px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.table tr {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.table thead tr {
  border-bottom: 2px solid #ccc;
  line-height: 35px;
  font-weight: 700;
}

.table .button {
  padding: 0 8px;
  min-height: 26px;
  font-size: 12px;
  line-height: 22px;
}

.pagination {
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
  min-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.pagination ul {
  width: 100%;
}

.pagination ul li {
  display: inline-block;
  width: 46px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #ddd;
  border-right: none;
  padding: 0;
  margin: 0;
  text-align: center;
  float: left;
}

.pagination ul li:first-child,
.pagination ul li:last-child {
  font-size: 16px;
  color: #419de7;
}

.pagination ul li.curr-page {
  background-color: #419de7;
  color: #ffffff;
  border-color: #419de7;
}

.pagination ul li:last-child {
  border-right: 1px solid #ddd;

}

textarea {
  resize: none;
}

.input-label {
  font-size: 14px;
}

select {
  opacity: 0;
}

.has-select {
  position: relative;
  overflow: visible;
  display: block;
  z-index: 9999999;
}

.select-ul {
  display: block;
  position: absolute;
  left: 0;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  z-index: 9999999;
  width: 100%;
  max-height: 400px;
  overflow: auto;
}

.select-ul li {
  padding: 10px 20px;
  color: dimgray;
}

.select-ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;

}

.has-select + label {
  z-index: 20;
}

.list-item.msg-title {
  background-color: transparent;
}

.list-item.msg-title .item-content {
  padding-left: 0;
}

.list-item.msg-title .item-inner {
  margin-left: 0;
  padding: 0 10px;
}

.msg-alert .popup {
  width: 320px;
}

.button-alert {
  text-align: right;
  position: absolute;
  right: 20px;
  padding: 10px;
}

.space-10 {
  display: inline-block;
  width: 10px;
}

.tj-ul {
  list-style: none;
  overflow-x: scroll;
  position: relative;
  width: calc(100% - 48px);
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property:  -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.tj-ul li {
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  position: relative;
}

.box {
  height: 48px;
  line-height: 48px;
}

.bg-white {
  background-color: white;
}

div.info-top {
  height: 54px;
  width: 245px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  z-index: 150;
  box-shadow: 0px 3px 10px rgba(136, 136, 136, 0.7);
}

div.info-top div {
  display: inline-block;
  color: #333333;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.selected-line {
  color: #419DE7;
  border-bottom: 3px solid #419DE7;
}

.route-line {
  color: dimgray;
  width: 25%;
  font-size: 13px;
  height: 47px;
}

.route-line.selected-line {
  color: #419DE7;
}

.amap-marker-label {
  border: none;
  background: none;
  color: white;
}

.info-top .inf-top-left {
  width: 45px;
  background-color: #419de7;
  text-align: center;
  height: 100%;
  border-radius: 5px 0 0 5px;
  position: absolute;
  color: #fff;
  font-size: 12px;
  left: 0;
  top: 0;
}

.info-top .pic.inf-top-left {
  width: 45px;
  height: 54px;
  background-size: 45px;
  display: block;
  top: 0;
  left: 0;
  background-image: url("/img/store-icon.png");
  background-position: 0px 5px;
  background-repeat: no-repeat;
}

.info-top .txt.inf-top-left:before {
  content: '加入';
  position: absolute;
  display: block;
  top: 8px;
  left: 11px;
  color: #ffffff;
  font-size: 12px;
}

.info-top .txt.inf-top-left:after {
  content: '路线';
  position: absolute;
  display: block;
  bottom: 8px;
  left: 11px;
  color: #ffffff;
  font-size: 12px;
}

.info-top .inf-top-right {
  position: relative;
  left: 45px;
  top: 0;
  height: 54px;
  width: 200px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-top .inf-top-right span {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: center;
}

.info-top .span1 {
  display: inline-block;
  width: 30px;
  height: 45px;
  color: white;
  position: absolute;
  /*top:5px;*/
  left: 6px;
}

.info-bottom {
  position: relative;
  top: -11px;
  width: 100%;
  text-align: center;
}

.info-bottom span {
  display: inline-block;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: 0px 3px 10px rgba(136, 136, 136, 0.7);
}

[class*=uicon-blankmarker] {
  width: 30px;
  background-size: 26px;
  height: 40px;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  padding-right: 4px;
}

.uicon-blankmarkerA {
  background-image: url("/img/markerA_blank_52.png");
}

.uicon-blankmarkerB {
  background-image: url("/img/markerB_blank_52.png");
}

.uicon-blankmarkerC {
  background-image: url("/img/markerC_blank_52.png");
}

.button.button-clear.tab-button {
  padding: 0 13px;
  color: #5e5e5e;
  font-size: 14px;
}

.button.tab-button.active {
  border-bottom: 2px solid #419de7;
  opacity: 1;
  border-radius: 0;
  color: #419de7;
}

#ins-map {
  height: 160px;
  width: 100%;
}

.list-item.inverse .item-title {
  color: #b5b5b5;
}

.list-item.inverse .item-after {
  color: #5e5e5e;
}

.button.button-positive.button-outline {
  border-color: #419de7;
  background: transparent;
  color: #419de7;
}

.button.button-energized.button-outline {
  border-color: #fdae5e;
  background: transparent;
  color: #fdae5e;
}

.space-stick {
  padding: 0 5px;
  font-weight: 100;
}

.button-lock {
  width: 80%;
  padding: 0 20px;
  background-color: #fbf5f2;
  color: #fd814e;
}

.button-lock:hover {
  color: #fd814e;
}

.button-unlock {
  width: 80%;
  padding: 0 20px;
  background-color: #fbf5f2;
  color: #9b9b9b;
}

.button-unlock:hover {
  color: #9b9b9b;
}

.button.icon-left.button-unlock:before,
.button.icon-left.button-lock:before {
  float: none;
  padding-right: 12px;
}

ul.ins-detail .list-item .item-inner {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 15px;
}
ul.ins-detail input[readonly]:not(.cloned-text-input){
  background-color: #fff;
}
.input-row {
  min-height: 48px;
  width: 100%;
  color: #419de7;
  overflow: hidden;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 4px;
}

.input-row input {
  width: 100%;
  color: #419de7;
  font-size: 15px;
  padding-right: 15px;
}

[class*=client-gender] {
  background-image: url("/img/avatar_doe.png");
  height: 90px;
  width: 90px;
  background-size: 90px;
}

.client-gender-male {
  background-image: url("/img/avatar_m.png");
}

.client-gender-female {
  background-image: url("/img/avatar_f.png");
}

.client-gender-malelocked {
  background-image: url("/img/avatar_m_lock.png");
}

.client-gender-femalelocked {
  background-image: url("/img/avatar_f_lock.png");
}

[class*=client-gender].uicon-50 {
  height: 50px;
  width: 50px;
  background-size: 50px;
}

.gender-radio {
  font-size: 15px;
  min-height: 44px;
}

.gender-radio .gender-item {
  color: #c1c1c3;
  display: flex;
  align-items: center;
  width: 100px;
  padding: 19px 0;
}

.gender-radio .gender-item.male.selected {
  color: #419de7;
}

.gender-radio .gender-item.female.selected {
  color: #ff9d9d;
}

ul.ins-detail .list-item .item-input input {
  color: #419de7;
  font-size: 14px;
}

.male .uicon-gender {
  background-image: url("/img/male_gray_32.png");
  width: 18px;
  height: 18px;
  background-size: 18px;
  margin-right: 8px;
}

.female .uicon-gender {
  background-image: url("/img/female_gray_32.png");
  width: 18px;
  height: 18px;
  background-size: 18px;
  margin-right: 6px;
}

.male.selected .uicon-gender {
  background-image: url("/img/male_blue_32.png");
}

.female.selected .uicon-gender {
  background-image: url("/img/female_pink_32.png");
}

/*-------------------------*/
/*--top toast style start--*/
/*-------------------------*/
.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -300px;
  }
  7% {
    opacity: 1;
    bottom: 10px;
  }
  90% {
    opacity: 1;
    bottom: 10px;
  }
  100% {
    opacity: 0;
    bottom: -300px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -300px;
  }
  7% {
    opacity: 1;
    bottom: 10px;
  }
  90% {
    opacity: 1;
    bottom: 10px;
  }
  100% {
    opacity: 0;
    bottom: -300px;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.msdtoast {
  opacity: 0;
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

.msdtoast .toast-inner {
  width: 94%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFFFFF;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

/*-------------------------*/
/*--top toast style end--*/
/*-------------------------*/
.text-row {
  margin-top: 8px;
  margin-left: -5px;
}

.tab-row {
  border-bottom: 3px solid #f5f7fa;
}

.coordinate-alert .popup {
  width: 320px;
  border-radius: 2px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, .4);
  box-shadow: 0 8px 20px rgba(0, 0, 0, .4);
}

.coordinate-alert .popup-body {
  padding: 0;
  background-color: #eff5f6;
}

.coordinate-alert .coordinate-title {
  padding: 8px 15px;
}

.coordinate-alert #coordinate-map {
  height: 360px;
  position: relative;
  width: 100%;
}

.button-green {
  background-color: #27d3b3;
  color: #ffffff;
  padding: 0 10px;
}

.coordinate-alert .button-green {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.coordinate-alert .popup-buttons {
  height: 0;
  min-height: 0;
  padding: 0;
}

.coordinate-alert .title-button-left {
  position: absolute;
  top: 0;
  left: 0;
}

.coordinate-alert .title-button-right {
  position: absolute;
  top: 0;
  right: 0;
}

.bar.week-slide {
  display: block;
  height: 88px;
  padding: 0;
}

.has-subheader.top-135 {
  top: 135px;
}

.bar.week-slide .week-title {
  background-color: #f5fafc;
  padding: 5px 15px;
  font-size: 13px;
}

.bar.week-slide .week-title li {
  width: 20px;
  text-align: center;
}

.bar.week-slide .week-day {
  background-color: #ffffff;
  padding: 10px 15px;
  font-size: 15px;
  color: #000;
}

.bar.week-slide .week-day li {
  height: 34px;
  line-height: 34px;
  width: 20px;
  text-align: center;
}

.bar.week-slide .week-day li.today {
  color: #419de7;
  border-bottom: 2px solid #419de7;
}

.route-addbtn {
  position: absolute;
  height: 48px;
  width: 48px;
  top: 1px;
  z-index: 999;
  text-align: center;
  right: 0;
  padding: 8px;
  box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.20);
}

.route-addbtn img {
  width: 18px;

}

.route-addbtn span {
  font-size: 12px;
  color: #419DE7;
  height: 12px;
  display: block;
  width: 100%;
  line-height: 9px;
}

.route-action-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 100px;
  z-index: 800;
}

.route-action-bar {
  padding: 5px 8px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.route-action-bar .button {

}

input[type="text"].route-name-input {
  flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  max-width: 130px;
  /*border: 1px solid #ccc;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 37px;
  height: 37px;
  width: 100%;
  padding: 0 10px;
}

input[type="text"].route-name-input.wide {
  max-width: 180px;
}

.crl-buttons .button {
}

.route-action {
  width: 92%;
}

.button.button-thin {
  height: 35px;
  line-height: 33px;
  min-height: 35px;
  font-size: 14px;
}

.window-list {
  margin-top: 3px;
  max-height: 185px;
  background-color: rgba(255, 255, 255, 0.9);
}

.window-list .item {
  background-color: transparent;
}

.window-list .item-complex .item-content {
  background-color: transparent;
  padding: 10px 49px 9px 16px;
}

.window-list .item-content {
  font-size: 14px;
  color: #3e3e3e;
}

.window-list .item-title {
  font-size: 14px;
  color: #3e3e3e;
}

.window-list .item-text {
  font-size: 12px;
  color: #b5b5b5;
}

.schedule-title {

}

.schedule-title .uicon.list-view {
  background-image: url("/img/listview_gray_32.png");
  height: 21px;
  width: 25px;
  background-size: 21px;
  margin: 0 5px;
}

.schedule-title .uicon.map-view {
  background-image: url("/img/mapview_gray_30.png");
  height: 25px;
  width: 25px;
  background-size: 24px;
  margin: 0 0 0 5px;
}

.schedule-title .selected .uicon.list-view {
  background-image: url("/img/listview_blue_32.png");
}

.schedule-title .selected .uicon.map-view {
  background-image: url("/img/mapview_blue_30.png");
}

.schedule-title + .crl-tabs {
  height: calc(100% - 44px);
  overflow: scroll;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.button-group {
  height: 31px;
  width: 100%;
  display: inline-flex;
}
.bar-positive .button-group{
  width:150px;
}
.button-group .group-button {
  width: 50%;
  height: 29px;
  line-height: 30px;
  border-left: none;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-right: 1px solid #ffffff;
  background-color: #419de7;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.button-group .group-button.selected,
.button-group .group-button.active {
  background-color: #fff;
  color: #419de7;
}

.bar-positive .button-group .button.activated {
  background-color: #fff;
  border-color: #fff;
  color: #419de7;
}

.button-group .group-button:first-child {
  border-left: 1px solid #ffffff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.button-group .group-button:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.route-action-block.daily {
  top: 65px;
}

.route-action-block.daily .route-action {
  width: 100%;
}

.sign-info {
  width: 92%;
  display: block;
}

.sign-info .route-action + .route-action {
  margin-top: 10px;
}

.block-button {
  border: 1px solid;
  padding: 6px 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 30%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.sign-time {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 7px 10px;
  width: 65%;
}

.sign-time .align-center {
  color: #419de7;
  padding-left: 20px;
}

.sign-time img {
  margin-right: 8px;
}

.block-button img {
  margin-right: 8px;
}

.block-button.plan {
  border-color: #419de7;
  color: #419de7;
}

.block-button.actual {
  border-color: #26d07c;
  color: #26d07c;
}

.uicon-home {
  background-image: url("/img/home_gray_44.png");
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.stick-highlight .uicon-home {
  background-image: url("/img/home_active_44.png");
}

.uicon-calendar {
  background-image: url("/img/calendar_gray_44.png");
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.stick-highlight .uicon-calendar {
  background-image: url("/img/calendar_active_44.png");
}

.uicon-coaching {
  background-image: url("/img/coaching_gray_44.png");
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.stick-highlight .uicon-coaching {
  background-image: url("/img/coaching_active_44.png");
}

.uicon-building {
  background-image: url("/img/building_gray_44.png");
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.stick-highlight .uicon-building {
  background-image: url("/img/building_active_44.png");
}

.uicon-guide {
  background-image: url("/img/guide_gray_44.png");
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.stick-highlight .uicon-guide {
  background-image: url("/img/guide_active_44.png");
}

.uicon-store {
  background-image: url("/img/store_gray_44.png");
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.stick-highlight .uicon-store {
  background-image: url("/img/store_active_44.png");
}

.uicon-folder {
  background-image: url("/img/folder_gray_44.png");
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.stick-highlight .uicon-folder {
  background-image: url("/img/folder_active_44.png");
}

.uicon-map {
  background-image: url("/img/map_gray_44.png");
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.stick-highlight .uicon-map {
  background-image: url("/img/map_active_44.png");
}

.uicon-setting {
  background-image: url("/img/setting_gray_44.png");
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.stick-highlight .uicon-setting {
  background-image: url("/img/setting_active_44.png");
}

.schedule-week-list {

}

ul.schedule-week-list {
  background-color: transparent;
}

.schedule-week-list .content-block-title {
  margin: 8px 15px;
  font-size: 13px;
}

.schedule-week-row {
  font-size: 12px;
}

.schedule-week-row .col-33 {
  padding: 8px;
  border-right: 1px solid #f5f7fa;
  width: 33.333333333333333%;
  width: -webkit-calc((100% - 1px * 2) / 3);
  width: calc((100% - 1px * 2) / 3);
  background-color: #fff;
  display: flex;
  align-self: stretch;
}

.schedule-week-row .col-40 .progress-block {
  width: calc(100% - 22px);
}

.schedule-week-row .col-40 .progress-track {
  margin: 6px 0;
}

.schedule-week-row .col-27 {
  padding: 6px;
  width: 27%;
  width: -webkit-calc(27% - 1px);
  width: calc(27% - 1px);
  background-color: #fff;
  display: flex;
  align-self: stretch;
}

.schedule-week-row .col-40 {
  padding: 8px;
  border-right: 1px solid #f5f7fa;
  width: 40%;
  width: -webkit-calc(40% - 1px);
  width: calc(40% - 1px);
  background-color: #fff;
  display: flex;
  align-self: stretch;
}
.schedule-week-row .col-73 {
  padding: 8px;
  border-right: 1px solid #f5f7fa;
  width: 73%;
  background-color: #fff;
  display: flex;
  align-self: stretch;
}

.schedule-week-row .col-40 .flex-between {
  width: 100%;
}

.affair-dot {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.affair-blue .affair-dot {
  background-color: #419de7;
}

.affair-red .affair-dot {
  background-color: #e75a5a;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-left: 5px;
}

.affair-red div:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.affair-orange .affair-dot {
  background-color: #faa437;
}

.affair-gray {
  color: #b5b5b5;
}

.affair-gray .affair-dot {
  background-color: #b5b5b5;
}

.bar.week-tap {
background-color: #fff;
}

.icon-button {
  font-size: 14px;
  line-height: 19px;
  min-height: 21px;
}
.map-block{
  position: relative;
  border-bottom: 2px solid #f5f7fa;
}
.map-block .button{
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 150;
}
.uicon-blue-next{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23419de7'%2F%3E%3C%2Fsvg%3E");
  background-size: 12px 24px;
  background-repeat: no-repeat;
  width: 30px;
  height: 37px;
  background-position: center;
}
.uicon-blue-prev{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23419de7'%2F%3E%3C%2Fsvg%3E");
  background-size: 12px 24px;
  background-repeat: no-repeat;
  width: 30px;
  height: 37px;
  background-position: center;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.uicon-add{
  background-image: url("/img/add_gray_36.png");
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.selected .uicon-add{
  background-image: url("/img/add_active_36.png");
}

.uicon-schlist{
  background-image: url("/img/schedule_gray_36.png");
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.selected .uicon-schlist{
  background-image: url("/img/schedule_active_36.png");
}
.schedule-week-row .col-73 .width-50 img{
  margin-right: 3%;
}
.schedule-week-row .col-73 .width-50{
  width: 50%;
}
[class*=ins] .dot{
  width: 11px;
  height: 11px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 3px;
}
[class*=ins] .count{
  width: 20px;
  display: inline-block;
}
.insA .dot{
  background-color: #045abe;
}

.insB .dot{
  background-color: #52b0ec;
}

.insC .dot{
  background-color: #50e3c2;
}
.footer-block{
  z-index: 22;
  position: fixed;
  bottom: -300px;
  left: 0;
  height: 300px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.footer-block.visible{
  bottom: 0;
}

.fab-week{
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 9px;
}

.schedule-btg {
  position: relative;
  top:53px;
  height: calc(100% - 63px);
}
.schedule-btg .button-group .button.group-button {
  font-size: 12px;
  min-height: 30px;
  height: 30px;
  background-color: #fff;
  color: #4190e7;
  border-color: #419de7;
}
.schedule-btg .button-group .button.group-button.selected {
  background-color: #4190e7;
  color: #fff;
}
.schedule-bottom-list{
  margin-top: 3px;
  height: calc(100% - 30px);
  overflow: scroll;
}
.radio-button{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border:1px solid #ddd;
  position: relative;
}

.checked .radio-button:after {
  content: '';
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 9px;
  background-color: #419de7;
  top: 7px;
  left: 7px;
}
.mask{
  z-index: 21;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.1s opacity linear;
  transition: 0.1s opacity linear;
}

.mask.active{
  opacity:1;
}
/*测试图片路径，最后删除*/
.img-test .col-33{
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
background-color: #fff;
}
.testimg-1{
  background-image: url("img/avatar_f.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
}
.testimg-2{
  background-image: url("/img/avatar_f.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
}
.testimg-3{
  background-image: url("./img/avatar_f.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
}
.testimg-4{
  background-image: url("../img/avatar_f.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
}
.testimg-5{
  background-image: url("/../img/avatar_f.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
}
.testimg-6{
  background-image: url("./../img/avatar_f.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
}

.testimg-11{
  background-image: url("img/avatar_f.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
display: block;
}
.testimg-21{
  background-image: url("/img/avatar_f.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
  display: block;
}
.testimg-31{
  background-image: url("./img/avatar_f.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
  display: block;
}
.testimg-41{
  background-image: url("../img/avatar_f.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
  display: block;
}
.testimg-51{
  background-image: url("/../img/avatar_f.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
  display: block;
}
.testimg-61{
  background-image: url("./../img/avatar_f.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
  display: block;
}
.margin-img img{
  margin-right: 5px;
}
